<!DOCTYPE html>
<html lang="en-US" data-menu="leftalign">
  <head>
    <title><%= title %></title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="format-detection" content="telephone=no" />

    <link
      rel="stylesheet"
      href="js/plugins/booked/assets/css/icons.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/booked/assets/js/tooltipster/css/tooltipster.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/booked/assets/js/tooltipster/css/themes/tooltipster-light.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/booked/assets/css/animations.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/booked/assets/css/styles.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/booked/assets/css/responsive.css"
      type="text/css"
      media="all"
    />
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="all" />
    <link
      rel="stylesheet"
      href="css/wordpress.css"
      type="text/css"
      media="all"
    />
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <link
      rel="stylesheet"
      href="css/modulobox.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="css/leftalignmenu.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="css/font-awesome.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="css/themify-icons.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="css/tooltipster.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/loftloader/assets/css/loftloader.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/elementor/assets/lib/animations/animations.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/elementor/assets/css/frontend.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/kingo-elementor/assets/css/swiper.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/kingo-elementor/assets/css/justifiedGallery.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/kingo-elementor/assets/css/flickity.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/kingo-elementor/assets/css/kingo-elementor.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/kingo-elementor/assets/css/kingo-elementor-responsive.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/elementor/assets/lib/font-awesome/css/font-awesome.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="css/custom-css.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="css/responsive.css"
      type="text/css"
      media="all"
    />

    <link rel="icon" href="upload/TG-Thumb.png" sizes="32x32" />
    <link rel="icon" href="upload/TG-Thumb.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="upload/TG-Thumb.png" />
    <meta name="msapplication-TileImage" content="upload/TG-Thumb.png" />
  </head>

  <body
    data-rsssl="1"
    class="home page-template-default page page-id-1706 woocommerce-no-js tg_menu_transparent tg_lightbox_black tg_sidemenu_desktop leftalign tg_footer_reveal loftloader-lite-enabled elementor-default elementor-kit-3641 elementor-page elementor-page-1706"
  >
    <div
      id="loftloader-wrapper"
      class="pl-imgloading"
      data-show-close-time="15000"
      data-max-load-time="0"
    >
      <div class="loader-inner">
        <div id="loader">
          <div class="imgloading-container">
            <span style="background-image: url(images/pp-logo.png)"></span>
          </div>
          <img
            data-no-lazy="1"
            class="skip-lazy"
            alt="loader image"
            src="images/pp-logo.png"
          />
        </div>
      </div>
      <div class="loader-section section-fade"></div>
      <div class="loader-close-button" style="display: none">
        <span class="screen-reader-text">Close</span>
      </div>
    </div>

    <div id="perspective">
      <!-- Begin mobile menu -->
      <a id="close_mobile_menu" href="javascript:;"></a>

      <div class="mobile_menu_wrapper">
        <div class="mobile_menu_content">
          <div class="menu-main-menu-container">
            <ul id="mobile_main_menu" class="mobile_main_nav">
              <li class="menu-item menu-item-home">
                <a href="/" aria-current="page">Home</a>
              </li>
              <li class="menu-item menu-item-home">
                <a href="/about" aria-current="page">About Us</a>
              </li>
              <li class="menu-item menu-item-home">
                <a href="/services" aria-current="page">Services</a>
              </li>
              <li class="menu-item menu-item-home">
                <a href="/team" aria-current="page">Team</a>
              </li>
              <li class="menu-item menu-item-home">
                <a href="/contact" aria-current="page">Contact</a>
              </li>

              <li class="menu-item menu-item-has-children">
                <a href="#">Other</a>
                <ul class="sub-menu">
                  <li class="menu-item">
                    <a href="/blog">Blog</a>
                  </li>

                  <li class="menu-item">
                    <a href="/testimonials">Testimonials</a>
                  </li>
                  <li class="menu-item">
                    <a href="/faqs">FAQs</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End mobile menu -->
      <!-- Begin template wrapper -->
      <div id="wrapper" class="hasbg transparent">
        <div id="elementor_header" class="header_style_wrapper nonfixed">
          <div
            data-elementor-type="wp-post"
            data-elementor-id="64"
            class="elementor elementor-64"
            data-elementor-settings="[]"
          >
            <div class="elementor-inner">
              <div class="elementor-section-wrap">
                <section
                  class="elementor-element elementor-element-d3a9fbc elementor-section-stretched animated-fast elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible elementor-section elementor-top-section"
                  data-id="d3a9fbc"
                  data-element_type="section"
                  data-settings='{"stretch_section":"section-stretched","background_background":"classic","animation":"fadeIn"}'
                >
                  <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-row">
                      <div
                        class="elementor-element elementor-element-8952182 elementor-column elementor-col-20 elementor-top-column"
                        data-id="8952182"
                        data-element_type="column"
                      >
                        <div
                          class="elementor-column-wrap elementor-element-populated"
                        >
                          <div class="elementor-widget-wrap">
                            <div
                              class="elementor-element elementor-element-b03b354 elementor-widget elementor-widget-image"
                              data-id="b03b354"
                              data-element_type="widget"
                              data-widget_type="image.default"
                            >
                              <div class="elementor-widget-container">
                                <div class="elementor-image">
                                  <a href="/">
                                    <img
                                      style="width: 200px !important"
                                      src="images/pp-logo-dark.png"
                                      class="attachment-full size-full"
                                      alt=""
                                    />
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-708113b elementor_responsive_hide elementor-column elementor-col-20 elementor-top-column"
                        data-id="708113b"
                        data-element_type="column"
                      >
                        <div
                          class="elementor-column-wrap elementor-element-populated"
                        >
                          <div class="elementor-widget-wrap">
                            <div
                              class="elementor-element elementor-element-8e78b47 elementor-hidden-tablet elementor-hidden-phone elementor-widget elementor-widget-bookingo-navigation-menu"
                              data-id="8e78b47"
                              data-element_type="widget"
                              data-widget_type="bookingo-navigation-menu.default"
                            >
                              <div class="elementor-widget-container">
                                <div class="tg_navigation_wrapper">
                                  <div class="menu-main-menu-container">
                                    <ul id="nav_menu6" class="nav">
                                      <li class="menu-item menu-item-home">
                                        <a href="/" aria-current="page">Home</a>
                                      </li>
                                      <li class="menu-item menu-item-home">
                                        <a href="/about" aria-current="page"
                                          >About Us</a
                                        >
                                      </li>
                                      <li class="menu-item menu-item-home">
                                        <a href="/services" aria-current="page"
                                          >Services</a
                                        >
                                      </li>
                                      <li class="menu-item menu-item-home">
                                        <a href="/team" aria-current="page"
                                          >Team</a
                                        >
                                      </li>
                                      <li class="menu-item menu-item-home">
                                        <a href="/contact" aria-current="page"
                                          >Contact</a
                                        >
                                      </li>

                                      <li
                                        class="menu-item menu-item-has-children"
                                      >
                                        <a href="#">Other</a>
                                        <ul class="sub-menu">
                                          <li class="menu-item">
                                            <a href="/blog">Blog</a>
                                          </li>

                                          <li class="menu-item">
                                            <a href="/testimonials"
                                              >Testimonials</a
                                            >
                                          </li>
                                          <li class="menu-item">
                                            <a href="/faqs">FAQs</a>
                                          </li>
                                        </ul>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-4335597 elementor_responsive_hide elementor-column elementor-col-20 elementor-top-column"
                        data-id="4335597"
                        data-element_type="column"
                      ></div>
                      <div
                        class="elementor-element elementor-element-94d4615 elementor_desktop_hide elementor-column elementor-col-20 elementor-top-column"
                        data-id="94d4615"
                        data-element_type="column"
                      >
                        <div
                          class="elementor-column-wrap elementor-element-populated"
                        >
                          <div class="elementor-widget-wrap">
                            <div
                              class="elementor-element elementor-element-ed53f40 elementor-align-right elementor-hidden-desktop elementor_mobile_nav elementor-widget elementor-widget-button"
                              data-id="ed53f40"
                              data-element_type="widget"
                              data-widget_type="button.default"
                            >
                              <div class="elementor-widget-container">
                                <div class="elementor-button-wrapper">
                                  <a
                                    href="#"
                                    class="elementor-button-link elementor-button elementor-size-xl"
                                    role="button"
                                  >
                                    <span
                                      class="elementor-button-content-wrapper"
                                    >
                                      <span
                                        class="elementor-button-icon elementor-align-icon-left"
                                      >
                                        <i
                                          class="fa fa-bars"
                                          aria-hidden="true"
                                        ></i>
                                      </span>
                                      <span
                                        class="elementor-button-text"
                                      ></span>
                                    </span>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-b1270b6 elementor_responsive_hide elementor-column elementor-col-20 elementor-top-column"
                        data-id="b1270b6"
                        data-element_type="column"
                      >
                        <div
                          class="elementor-column-wrap elementor-element-populated"
                        >
                          <div class="elementor-widget-wrap">
                            <div
                              class="elementor-element elementor-element-8e3f5ef elementor-align-right elementor-hidden-tablet elementor-hidden-phone elementor-widget elementor-widget-button"
                              data-id="8e3f5ef"
                              data-element_type="widget"
                              data-widget_type="button.default"
                            >
                              <div class="elementor-widget-container">
                                <div class="elementor-button-wrapper">
                                  <a
                                    href="/contact"
                                    class="elementor-button-link elementor-button elementor-size-sm elementor-animation-grow"
                                    role="button"
                                  >
                                    <span
                                      class="elementor-button-content-wrapper"
                                    >
                                      <span class="elementor-button-text"
                                        >Book Now</span
                                      >
                                    </span>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>

        <div id="page_caption" class="   ">
          <div class="page_title_wrapper">
            <div class="standard_wrapper">
              <div class="page_title_inner">
                <div class="page_title_content">
                  <h1>Blog</h1>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Begin content -->
        <div id="page_content_wrapper" class="">
          <div class="inner">
            <!-- Begin main content -->
            <div class="inner_wrapper">
              <div class="sidebar_content full_width">
                <div
                  data-elementor-type="wp-post"
                  data-elementor-id="347"
                  class="elementor elementor-347 elementor-bc-flex-widget"
                  data-elementor-settings="[]"
                >
                  <div class="elementor-inner">
                    <div class="elementor-section-wrap">
                      <section
                        class="elementor-element elementor-element-f56b715 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                        data-id="f56b715"
                        data-element_type="section"
                        data-settings='{"stretch_section":"section-stretched","background_background":"classic","shape_divider_bottom":"mountains"}'
                      >
                        <div
                          class="elementor-shape elementor-shape-bottom"
                          data-negative="false"
                        >
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            viewbox="0 0 1000 100"
                            preserveaspectratio="none"
                          >
                            <path
                              class="elementor-shape-fill"
                              opacity="0.33"
                              d="M473,67.3c-203.9,88.3-263.1-34-320.3,0C66,119.1,0,59.7,0,59.7V0h1000v59.7 c0,0-62.1,26.1-94.9,29.3c-32.8,3.3-62.8-12.3-75.8-22.1C806,49.6,745.3,8.7,694.9,4.7S492.4,59,473,67.3z"
                            ></path>
                            <path
                              class="elementor-shape-fill"
                              opacity="0.66"
                              d="M734,67.3c-45.5,0-77.2-23.2-129.1-39.1c-28.6-8.7-150.3-10.1-254,39.1 s-91.7-34.4-149.2,0C115.7,118.3,0,39.8,0,39.8V0h1000v36.5c0,0-28.2-18.5-92.1-18.5C810.2,18.1,775.7,67.3,734,67.3z"
                            ></path>
                            <path
                              class="elementor-shape-fill"
                              d="M766.1,28.9c-200-57.5-266,65.5-395.1,19.5C242,1.8,242,5.4,184.8,20.6C128,35.8,132.3,44.9,89.9,52.5C28.6,63.7,0,0,0,0 h1000c0,0-9.9,40.9-83.6,48.1S829.6,47,766.1,28.9z"
                            ></path>
                          </svg>
                        </div>
                        <div
                          class="elementor-container elementor-column-gap-default"
                        >
                          <div class="elementor-row">
                            <div
                              class="elementor-element elementor-element-2e8e1a9 elementor-column elementor-col-100 elementor-top-column"
                              data-id="2e8e1a9"
                              data-element_type="column"
                            >
                              <div
                                class="elementor-column-wrap elementor-element-populated"
                              >
                                <div class="elementor-widget-wrap">
                                  <div
                                    class="elementor-element elementor-element-d542041 animated-fast elementor-invisible elementor-widget elementor-widget-heading"
                                    data-id="d542041"
                                    data-element_type="widget"
                                    data-settings='{"_animation":"fadeInUp"}'
                                    data-widget_type="heading.default"
                                  >
                                    <div class="elementor-widget-container">
                                      <h1
                                        class="elementor-heading-title elementor-size-default"
                                      >
                                        Real-World Results: Our Case Studies
                                      </h1>
                                    </div>
                                  </div>
                                  <div
                                    class="elementor-element elementor-element-4a88970 animated-fast elementor-hidden-phone elementor-invisible elementor-widget elementor-widget-heading"
                                    data-id="4a88970"
                                    data-element_type="widget"
                                    data-settings='{"_animation":"fadeInUp","_animation_delay":200}'
                                    data-widget_type="heading.default"
                                  >
                                    <div class="elementor-widget-container">
                                      <span
                                        class="elementor-heading-title elementor-size-default"
                                      >
                                        See the tangible financial benefits our
                                        clients have achieved through partnering
                                        with Profitability Partners.
                                      </span>
                                    </div>
                                  </div>
                                  <div
                                    class="elementor-element elementor-element-45c0702 aligncenter animated-fast elementor-hidden-phone elementor-invisible elementor-widget elementor-widget-shortcode"
                                    data-id="45c0702"
                                    data-element_type="widget"
                                    data-settings='{"_animation":"fadeInUp","_animation_delay":400}'
                                    data-widget_type="shortcode.default"
                                  >
                                    <div class="elementor-widget-container">
                                      <div class="elementor-shortcode">
                                        <!-- Mailchimp for WordPress v4.8 - https://wordpress.org/plugins/mailchimp-for-wp/ -->
                                        <form
                                          id="mc4wp-form-1"
                                          class="mc4wp-form mc4wp-form-268"
                                          method="post"
                                          data-id="268"
                                          data-name="Newsletter"
                                        >
                                          <div class="mc4wp-form-fields">
                                            <input
                                              type="email"
                                              name="email"
                                              required=""
                                              placeholder="Your email"
                                              class="input_effect"
                                            />
                                            <span class="focus-border"></span>
                                            <input
                                              type="submit"
                                              value="Subscribe"
                                            />
                                          </div>

                                          <label
                                            style="display: none !important"
                                          >
                                            Leave this field empty if you're
                                            human:
                                            <input
                                              type="text"
                                              name="_mc4wp_honeypot"
                                              value=""
                                              tabindex="-1"
                                              autocomplete="off"
                                            />
                                          </label>
                                          <input
                                            type="hidden"
                                            name="_mc4wp_timestamp"
                                            value="1631443832"
                                          /><input
                                            type="hidden"
                                            name="_mc4wp_form_id"
                                            value="268"
                                          />
                                          <input
                                            type="hidden"
                                            name="_mc4wp_form_element_id"
                                            value="mc4wp-form-1"
                                          />
                                          <div class="mc4wp-response"></div>
                                        </form>
                                        <!-- / Mailchimp for WordPress Plugin -->
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                      <section
                        class="elementor-element elementor-element-fe9e4df animated-fast elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible elementor-section elementor-top-section"
                        data-id="fe9e4df"
                        data-element_type="section"
                        data-settings='{"animation":"fadeIn","animation_delay":600}'
                      >
                        <div
                          class="elementor-container elementor-column-gap-default"
                        >
                          <div class="elementor-row">
                            <div
                              class="elementor-element elementor-element-d0d8b79 elementor-column elementor-col-100 elementor-top-column"
                              data-id="d0d8b79"
                              data-element_type="column"
                            >
                              <div
                                class="elementor-column-wrap elementor-element-populated"
                              >
                                <div class="elementor-widget-wrap">
                                  <div
                                    class="elementor-element elementor-element-9769c37 elementor-widget elementor-widget-bookingo-blog-posts"
                                    data-id="9769c37"
                                    data-element_type="widget"
                                    data-widget_type="bookingo-blog-posts.default"
                                  >
                                    <div class="elementor-widget-container">
                                      <div
                                        class="blog_post_content_wrapper layout_classic"
                                      >
                                        <!-- Begin each blog post -->
                                        <div
                                          class="blog-posts-classic post-251 post type-post status-publish format-standard has-post-thumbnail hentry category-general category-leads-sale category-marketing tag-booking tag-marketing tag-small-business"
                                        >
                                          <div class="post_wrapper">
                                            <div class="post_img static">
                                              <div
                                                class="post_img_hover classic"
                                              >
                                                <img
                                                  src="upload/focused-colleagues-working-together-at-a-table-in-SN2G58T-960x550.jpg"
                                                  class=""
                                                  alt=""
                                                />
                                                <a
                                                  href="/case-study-single"
                                                ></a>
                                              </div>
                                            </div>

                                            <div
                                              class="post_content_wrapper text_left"
                                            >
                                              <div class="post_header">
                                                <div
                                                  class="post_detail single_post"
                                                >
                                                  <span class="post_info_cat">
                                                    <a href="/case-study-single"
                                                      >General</a
                                                    >
                                                    &nbsp;&middot;&nbsp;
                                                    <a href="/case-study-single"
                                                      >Leads &amp; Sale</a
                                                    >
                                                    &nbsp;&middot;&nbsp;
                                                    <a href="/case-study-single"
                                                      >Marketing</a
                                                    >
                                                  </span>
                                                </div>
                                                <div class="post_header_title">
                                                  <h5>
                                                    <a
                                                      href="/case-study-single"
                                                      title="82% of Small Businesses Struggle to Find Qualified Talent, Report Reveals"
                                                    >
                                                      82% of Small Businesses
                                                      Struggle to Find Qualified
                                                      Talent, Report Reveals
                                                    </a>
                                                  </h5>
                                                </div>
                                              </div>

                                              <div class="post_header_wrapper">
                                                <p>
                                                  Meh synth Schlitz, tempor duis
                                                  single-origin coffee ea next
                                                  level ethnic fingerstache
                                                  fanny pack nostrud Photo booth
                                                  anim 8-bit hella, PBR 3 wolf
                                                  moon beard Helvetica Salvia
                                                  esse nihil, flexitarian
                                                  Truffaut synth art party deep
                                                  v chillwave Seitan...
                                                </p>
                                                <div
                                                  class="post_button_wrapper"
                                                >
                                                  <div class="post_attribute">
                                                    <a
                                                      href="/case-study-single"
                                                      title="82% of Small Businesses Struggle to Find Qualified Talent, Report Reveals"
                                                    >
                                                      January 3, 2022
                                                    </a>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <br class="clear" />
                                        <!-- End each blog post --><!-- Begin each blog post -->
                                        <div
                                          class="blog-posts-classic post-248 post type-post status-publish format-standard has-post-thumbnail hentry category-business-development category-general category-leads-sale tag-booking tag-marketing tag-small-business"
                                        >
                                          <div class="post_wrapper">
                                            <div class="post_img static">
                                              <div
                                                class="post_img_hover classic"
                                              >
                                                <img
                                                  src="upload/happy-handsome-bearded-man-sitting-in-office-MT5NFB2-960x550.jpg"
                                                  class=""
                                                  alt=""
                                                />
                                                <a
                                                  href="/case-study-single"
                                                ></a>
                                              </div>
                                            </div>

                                            <div
                                              class="post_content_wrapper text_left"
                                            >
                                              <div class="post_header">
                                                <div
                                                  class="post_detail single_post"
                                                >
                                                  <span class="post_info_cat">
                                                    <a href="/case-study-single"
                                                      >Business Development</a
                                                    >
                                                    &nbsp;&middot;&nbsp;
                                                    <a href="/case-study-single"
                                                      >General</a
                                                    >
                                                    &nbsp;&middot;&nbsp;
                                                    <a href="/case-study-single"
                                                      >Leads &amp; Sale</a
                                                    >
                                                  </span>
                                                </div>
                                                <div class="post_header_title">
                                                  <h5>
                                                    <a
                                                      href="/case-study-single"
                                                      title="Anchor Bookkeeping Offers Digital Accounting with Added Services for Small Businesses"
                                                    >
                                                      Anchor Bookkeeping Offers
                                                      Digital Accounting with
                                                      Added Services for Small
                                                      Businesses
                                                    </a>
                                                  </h5>
                                                </div>
                                              </div>

                                              <div class="post_header_wrapper">
                                                <p>
                                                  Meh synth Schlitz, tempor duis
                                                  single-origin coffee ea next
                                                  level ethnic fingerstache
                                                  fanny pack nostrud Photo booth
                                                  anim 8-bit hella, PBR 3 wolf
                                                  moon beard Helvetica Salvia
                                                  esse nihil, flexitarian
                                                  Truffaut synth art party deep
                                                  v chillwave Seitan...
                                                </p>
                                                <div
                                                  class="post_button_wrapper"
                                                >
                                                  <div class="post_attribute">
                                                    <a
                                                      href="/case-study-single"
                                                      title="Anchor Bookkeeping Offers Digital Accounting with Added Services for Small Businesses"
                                                    >
                                                      January 3, 2022
                                                    </a>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <br class="clear" />
                                        <!-- End each blog post --><!-- Begin each blog post -->
                                        <div
                                          class="blog-posts-classic post-245 post type-post status-publish format-standard has-post-thumbnail hentry category-booking category-general category-marketing tag-booking tag-marketing tag-small-business"
                                        >
                                          <div class="post_wrapper">
                                            <div class="post_img static">
                                              <div
                                                class="post_img_hover classic"
                                              >
                                                <img
                                                  src="upload/mature-businessman-with-gray-hair-in-the-office-PJ8CDSM-960x550.jpg"
                                                  class=""
                                                  alt=""
                                                />
                                                <a
                                                  href="/case-study-single"
                                                ></a>
                                              </div>
                                            </div>

                                            <div
                                              class="post_content_wrapper text_left"
                                            >
                                              <div class="post_header">
                                                <div
                                                  class="post_detail single_post"
                                                >
                                                  <span class="post_info_cat">
                                                    <a href="/case-study-single"
                                                      >Booking</a
                                                    >
                                                    &nbsp;&middot;&nbsp;
                                                    <a href="/case-study-single"
                                                      >General</a
                                                    >
                                                    &nbsp;&middot;&nbsp;
                                                    <a href="/case-study-single"
                                                      >Marketing</a
                                                    >
                                                  </span>
                                                </div>
                                                <div class="post_header_title">
                                                  <h5>
                                                    <a
                                                      href="/case-study-single"
                                                      title="Thanks to Small Businesses Working on Christmas to Make Holiday Brighter"
                                                    >
                                                      Thanks to Small Businesses
                                                      Working on Christmas to
                                                      Make Holiday Brighter
                                                    </a>
                                                  </h5>
                                                </div>
                                              </div>

                                              <div class="post_header_wrapper">
                                                <p>
                                                  Meh synth Schlitz, tempor duis
                                                  single-origin coffee ea next
                                                  level ethnic fingerstache
                                                  fanny pack nostrud Photo booth
                                                  anim 8-bit hella, PBR 3 wolf
                                                  moon beard Helvetica Salvia
                                                  esse nihil, flexitarian
                                                  Truffaut synth art party deep
                                                  v chillwave Seitan...
                                                </p>
                                                <div
                                                  class="post_button_wrapper"
                                                >
                                                  <div class="post_attribute">
                                                    <a
                                                      href="/case-study-single"
                                                      title="Thanks to Small Businesses Working on Christmas to Make Holiday Brighter"
                                                    >
                                                      January 3, 2022
                                                    </a>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <br class="clear" />
                                        <!-- End each blog post --><!-- Begin each blog post -->
                                        <div
                                          class="blog-posts-classic post-241 post type-post status-publish format-standard has-post-thumbnail hentry category-business-development category-leads-sale category-marketing tag-booking tag-marketing tag-small-business"
                                        >
                                          <div class="post_wrapper">
                                            <div class="post_img static">
                                              <div
                                                class="post_img_hover classic"
                                              >
                                                <img
                                                  src="upload/bicycle-in-blue-bedroom-interior-P9H645C-960x550.jpg"
                                                  class=""
                                                  alt=""
                                                />
                                                <a
                                                  href="/case-study-single"
                                                ></a>
                                              </div>
                                            </div>

                                            <div
                                              class="post_content_wrapper text_left"
                                            >
                                              <div class="post_header">
                                                <div
                                                  class="post_detail single_post"
                                                >
                                                  <span class="post_info_cat">
                                                    <a href="/case-study-single"
                                                      >Business Development</a
                                                    >
                                                    &nbsp;&middot;&nbsp;
                                                    <a href="/case-study-single"
                                                      >Leads &amp; Sale</a
                                                    >
                                                    &nbsp;&middot;&nbsp;
                                                    <a href="/case-study-single"
                                                      >Marketing</a
                                                    >
                                                  </span>
                                                </div>
                                                <div class="post_header_title">
                                                  <h5>
                                                    <a
                                                      href="/case-study-single"
                                                      title="Better Credit Gets Your Business Up to 20 Times the Loan Money, Report Says"
                                                    >
                                                      Better Credit Gets Your
                                                      Business Up to 20 Times
                                                      the Loan Money, Report
                                                      Says
                                                    </a>
                                                  </h5>
                                                </div>
                                              </div>

                                              <div class="post_header_wrapper">
                                                <p>
                                                  Meh synth Schlitz, tempor duis
                                                  single-origin coffee ea next
                                                  level ethnic fingerstache
                                                  fanny pack nostrud Photo booth
                                                  anim 8-bit hella, PBR 3 wolf
                                                  moon beard Helvetica Salvia
                                                  esse nihil, flexitarian
                                                  Truffaut synth art party deep
                                                  v chillwave Seitan...
                                                </p>
                                                <div
                                                  class="post_button_wrapper"
                                                >
                                                  <div class="post_attribute">
                                                    <a
                                                      href="/case-study-single"
                                                      title="Better Credit Gets Your Business Up to 20 Times the Loan Money, Report Says"
                                                    >
                                                      January 3, 2022
                                                    </a>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <br class="clear" />
                                        <!-- End each blog post --><!-- Begin each blog post -->
                                        <div
                                          class="blog-posts-classic post-238 post type-post status-publish format-video has-post-thumbnail hentry category-business-development category-general category-leads-sale tag-booking tag-marketing tag-small-business post_format-post-format-video"
                                        >
                                          <div class="post_wrapper">
                                            <div class="post_img static">
                                              <div
                                                class="post_img_hover classic"
                                              >
                                                <img
                                                  src="upload/smiling-woman-making-presentation-for-business-PK5DD3D-960x550.jpg"
                                                  class=""
                                                  alt=""
                                                />
                                                <div class="post_type_icon">
                                                  <i class="fa fa-play"></i>
                                                </div>
                                                <a
                                                  href="/case-study-single"
                                                ></a>
                                              </div>
                                            </div>

                                            <div
                                              class="post_content_wrapper text_left"
                                            >
                                              <div class="post_header">
                                                <div
                                                  class="post_detail single_post"
                                                >
                                                  <span class="post_info_cat">
                                                    <a href="/case-study-single"
                                                      >Business Development</a
                                                    >
                                                    &nbsp;&middot;&nbsp;
                                                    <a href="/case-study-single"
                                                      >General</a
                                                    >
                                                    &nbsp;&middot;&nbsp;
                                                    <a href="/case-study-single"
                                                      >Leads &amp; Sale</a
                                                    >
                                                  </span>
                                                </div>
                                                <div class="post_header_title">
                                                  <h5>
                                                    <a
                                                      href="/case-study-single"
                                                      title="How to Promote Your Business Through a Slew of Weird January Holidays"
                                                    >
                                                      How to Promote Your
                                                      Business Through a Slew of
                                                      Weird January Holidays
                                                    </a>
                                                  </h5>
                                                </div>
                                              </div>

                                              <div class="post_header_wrapper">
                                                <p>
                                                  Meh synth Schlitz, tempor duis
                                                  single-origin coffee ea next
                                                  level ethnic fingerstache
                                                  fanny pack nostrud Photo booth
                                                  anim 8-bit hella, PBR 3 wolf
                                                  moon beard Helvetica Salvia
                                                  esse nihil, flexitarian
                                                  Truffaut synth art party deep
                                                  v chillwave Seitan...
                                                </p>
                                                <div
                                                  class="post_button_wrapper"
                                                >
                                                  <div class="post_attribute">
                                                    <a
                                                      href="/case-study-single"
                                                      title="How to Promote Your Business Through a Slew of Weird January Holidays"
                                                    >
                                                      January 3, 2022
                                                    </a>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <br class="clear" />
                                        <!-- End each blog post --><!-- Begin each blog post -->
                                        <div
                                          class="blog-posts-classic post-235 post type-post status-publish format-standard has-post-thumbnail hentry category-booking category-general category-marketing tag-booking tag-marketing tag-small-business"
                                        >
                                          <div class="post_wrapper">
                                            <div class="post_img static">
                                              <div
                                                class="post_img_hover classic"
                                              >
                                                <img
                                                  src="upload/girl-working-on-a-laptop-at-a-restaurant-LP9X5KM-960x550.jpg"
                                                  class=""
                                                  alt=""
                                                />
                                                <a
                                                  href="/case-study-single"
                                                ></a>
                                              </div>
                                            </div>

                                            <div
                                              class="post_content_wrapper text_left"
                                            >
                                              <div class="post_header">
                                                <div
                                                  class="post_detail single_post"
                                                >
                                                  <span class="post_info_cat">
                                                    <a href="/case-study-single"
                                                      >Booking</a
                                                    >
                                                    &nbsp;&middot;&nbsp;
                                                    <a href="/case-study-single"
                                                      >General</a
                                                    >
                                                    &nbsp;&middot;&nbsp;
                                                    <a href="/case-study-single"
                                                      >Marketing</a
                                                    >
                                                  </span>
                                                </div>
                                                <div class="post_header_title">
                                                  <h5>
                                                    <a
                                                      href="/case-study-single"
                                                      title="Small Businesses Add Jobs, Google Announces New Direction for Business Messaging"
                                                    >
                                                      Small Businesses Add Jobs,
                                                      Google Announces New
                                                      Direction for Business
                                                      Messaging
                                                    </a>
                                                  </h5>
                                                </div>
                                              </div>

                                              <div class="post_header_wrapper">
                                                <p>
                                                  Meh synth Schlitz, tempor duis
                                                  single-origin coffee ea next
                                                  level ethnic fingerstache
                                                  fanny pack nostrud Photo booth
                                                  anim 8-bit hella, PBR 3 wolf
                                                  moon beard Helvetica Salvia
                                                  esse nihil, flexitarian
                                                  Truffaut synth art party deep
                                                  v chillwave Seitan...
                                                </p>
                                                <div
                                                  class="post_button_wrapper"
                                                >
                                                  <div class="post_attribute">
                                                    <a
                                                      href="/case-study-single"
                                                      title="Small Businesses Add Jobs, Google Announces New Direction for Business Messaging"
                                                    >
                                                      January 3, 2022
                                                    </a>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <br class="clear" />
                                        <!-- End each blog post -->
                                      </div>
                                      <div
                                        class="pagination blog-posts-classic"
                                      >
                                        <span class="current">1</span
                                        ><a
                                          href="/case-study-single"
                                          class="inactive"
                                          >2</a
                                        >
                                      </div>
                                      <div
                                        class="pagination_detail blog-posts-classic"
                                      >
                                        Page 1 of 2
                                      </div>
                                      <br class="clear" />
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End main content -->
          </div>
          <br class="clear" />
        </div>
      </div>
      <div id="footer_wrapper">
        <div
          data-elementor-type="wp-post"
          data-elementor-id="16"
          class="elementor elementor-16"
          data-elementor-settings="[]"
        >
          <div class="elementor-inner">
            <div class="elementor-section-wrap">
              <section
                class="elementor-element elementor-element-a72ab01 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                data-id="a72ab01"
                data-element_type="section"
                data-settings='{"stretch_section":"section-stretched","background_background":"classic"}'
              >
                <div class="elementor-container elementor-column-gap-default">
                  <div class="elementor-row">
                    <div
                      class="elementor-element elementor-element-31ddf7d elementor-column elementor-col-25 elementor-top-column"
                      data-id="31ddf7d"
                      data-element_type="column"
                    >
                      <div
                        class="elementor-column-wrap elementor-element-populated"
                      >
                        <div class="elementor-widget-wrap">
                          <div
                            class="elementor-element elementor-element-d6aa368 elementor-widget elementor-widget-image"
                            data-id="d6aa368"
                            data-element_type="widget"
                            data-widget_type="image.default"
                          >
                            <div class="elementor-widget-container">
                              <div class="elementor-image">
                                <img
                                  width="210"
                                  height="58"
                                  src="images/pp-logo.png"
                                  class="attachment-full size-full"
                                  alt=""
                                />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="elementor-element elementor-element-d5c8ba6 elementor-column elementor-col-25 elementor-top-column"
                      data-id="d5c8ba6"
                      data-element_type="column"
                    >
                      <div
                        class="elementor-column-wrap elementor-element-populated"
                      >
                        <div class="elementor-widget-wrap">
                          <div
                            class="elementor-element elementor-element-682b70d elementor-widget elementor-widget-heading"
                            data-id="682b70d"
                            data-element_type="widget"
                            data-widget_type="heading.default"
                          >
                            <div class="elementor-widget-container">
                              <h2
                                class="elementor-heading-title elementor-size-default"
                              >
                                Small Business
                              </h2>
                            </div>
                          </div>
                          <div
                            class="elementor-element elementor-element-19a4994 elementor-widget elementor-widget-heading"
                            data-id="19a4994"
                            data-element_type="widget"
                            data-widget_type="heading.default"
                          >
                            <div class="elementor-widget-container">
                              <span
                                class="elementor-heading-title elementor-size-default"
                                ><a href="/">Consultant & Accountant</a></span
                              >
                            </div>
                          </div>
                          <div
                            class="elementor-element elementor-element-eaa4253 elementor-widget elementor-widget-heading"
                            data-id="eaa4253"
                            data-element_type="widget"
                            data-widget_type="heading.default"
                          >
                            <div class="elementor-widget-container">
                              <span
                                class="elementor-heading-title elementor-size-default"
                                ><a href="#">Lawyer</a></span
                              >
                            </div>
                          </div>
                          <div
                            class="elementor-element elementor-element-7c9bc91 elementor-widget elementor-widget-heading"
                            data-id="7c9bc91"
                            data-element_type="widget"
                            data-widget_type="heading.default"
                          >
                            <div class="elementor-widget-container">
                              <span
                                class="elementor-heading-title elementor-size-default"
                                ><a href="#">Contractor</a></span
                              >
                            </div>
                          </div>
                          <div
                            class="elementor-element elementor-element-f8e3acd elementor-widget elementor-widget-heading"
                            data-id="f8e3acd"
                            data-element_type="widget"
                            data-widget_type="heading.default"
                          >
                            <div class="elementor-widget-container">
                              <span
                                class="elementor-heading-title elementor-size-default"
                                ><a href="#">Healthcare & Spa</a></span
                              >
                            </div>
                          </div>
                          <div
                            class="elementor-element elementor-element-2ad5e55 elementor-widget elementor-widget-heading"
                            data-id="2ad5e55"
                            data-element_type="widget"
                            data-widget_type="heading.default"
                          >
                            <div class="elementor-widget-container">
                              <span
                                class="elementor-heading-title elementor-size-default"
                                ><a href="#">Life Coach</a></span
                              >
                            </div>
                          </div>
                          <div
                            class="elementor-element elementor-element-537db10 elementor-widget elementor-widget-heading"
                            data-id="537db10"
                            data-element_type="widget"
                            data-widget_type="heading.default"
                          >
                            <div class="elementor-widget-container">
                              <span
                                class="elementor-heading-title elementor-size-default"
                                ><a href="#">Yoga</a></span
                              >
                            </div>
                          </div>
                          <div
                            class="elementor-element elementor-element-45f5ea7 elementor-widget elementor-widget-heading"
                            data-id="45f5ea7"
                            data-element_type="widget"
                            data-widget_type="heading.default"
                          >
                            <div class="elementor-widget-container">
                              <span
                                class="elementor-heading-title elementor-size-default"
                                ><a href="#">Financial Advisor</a></span
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="elementor-element elementor-element-f3b0b5c elementor-column elementor-col-25 elementor-top-column"
                      data-id="f3b0b5c"
                      data-element_type="column"
                    >
                      <div
                        class="elementor-column-wrap elementor-element-populated"
                      >
                        <div class="elementor-widget-wrap">
                          <div
                            class="elementor-element elementor-element-a96cde3 elementor-widget elementor-widget-heading"
                            data-id="a96cde3"
                            data-element_type="widget"
                            data-widget_type="heading.default"
                          >
                            <div class="elementor-widget-container">
                              <h2
                                class="elementor-heading-title elementor-size-default"
                              >
                                Retails
                              </h2>
                            </div>
                          </div>
                          <div
                            class="elementor-element elementor-element-51a98e1 elementor-widget elementor-widget-heading"
                            data-id="51a98e1"
                            data-element_type="widget"
                            data-widget_type="heading.default"
                          >
                            <div class="elementor-widget-container">
                              <span
                                class="elementor-heading-title elementor-size-default"
                                ><a href="#">Fitness & Trainer</a></span
                              >
                            </div>
                          </div>
                          <div
                            class="elementor-element elementor-element-e427d83 elementor-widget elementor-widget-heading"
                            data-id="e427d83"
                            data-element_type="widget"
                            data-widget_type="heading.default"
                          >
                            <div class="elementor-widget-container">
                              <span
                                class="elementor-heading-title elementor-size-default"
                                ><a href="#">Barber</a></span
                              >
                            </div>
                          </div>
                          <div
                            class="elementor-element elementor-element-1a267f5 elementor-widget elementor-widget-heading"
                            data-id="1a267f5"
                            data-element_type="widget"
                            data-widget_type="heading.default"
                          >
                            <div class="elementor-widget-container">
                              <span
                                class="elementor-heading-title elementor-size-default"
                                ><a href="#">Bed & Breakfast & Hotel</a></span
                              >
                            </div>
                          </div>
                          <div
                            class="elementor-element elementor-element-d160c85 elementor-widget elementor-widget-heading"
                            data-id="d160c85"
                            data-element_type="widget"
                            data-widget_type="heading.default"
                          >
                            <div class="elementor-widget-container">
                              <span
                                class="elementor-heading-title elementor-size-default"
                                ><a href="#">Restaurant</a></span
                              >
                            </div>
                          </div>
                          <div
                            class="elementor-element elementor-element-09ad0d8 elementor-widget elementor-widget-heading"
                            data-id="09ad0d8"
                            data-element_type="widget"
                            data-widget_type="heading.default"
                          >
                            <div class="elementor-widget-container">
                              <span
                                class="elementor-heading-title elementor-size-default"
                                ><a href="#">Tourism</a></span
                              >
                            </div>
                          </div>
                          <div
                            class="elementor-element elementor-element-bca6e8c elementor-widget elementor-widget-heading"
                            data-id="bca6e8c"
                            data-element_type="widget"
                            data-widget_type="heading.default"
                          >
                            <div class="elementor-widget-container">
                              <span
                                class="elementor-heading-title elementor-size-default"
                                ><a href="#">Limousine & Car Rental</a></span
                              >
                            </div>
                          </div>
                          <div
                            class="elementor-element elementor-element-0697856 elementor-widget elementor-widget-heading"
                            data-id="0697856"
                            data-element_type="widget"
                            data-widget_type="heading.default"
                          >
                            <div class="elementor-widget-container">
                              <span
                                class="elementor-heading-title elementor-size-default"
                                ><a href="#">Medical</a></span
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="elementor-element elementor-element-969b565 elementor-column elementor-col-25 elementor-top-column"
                      data-id="969b565"
                      data-element_type="column"
                    >
                      <div
                        class="elementor-column-wrap elementor-element-populated"
                      >
                        <div class="elementor-widget-wrap">
                          <div
                            class="elementor-element elementor-element-b579521 elementor-widget elementor-widget-text-editor"
                            data-id="b579521"
                            data-element_type="widget"
                            data-widget_type="text-editor.default"
                          >
                            <div class="elementor-widget-container">
                              <div
                                class="elementor-text-editor elementor-clearfix"
                              >
                                <p>
                                  <span style="color: #9b9b9b">+564</span> 7885
                                  3222
                                </p>
                              </div>
                            </div>
                          </div>
                          <div
                            class="elementor-element elementor-element-9ef949f elementor-widget elementor-widget-text-editor"
                            data-id="9ef949f"
                            data-element_type="widget"
                            data-widget_type="text-editor.default"
                          >
                            <div class="elementor-widget-container">
                              <div
                                class="elementor-text-editor elementor-clearfix"
                              >
                                <span style="color: #ffffff"
                                  ><a
                                    style="color: #ffffff"
                                    href="mailto:contact@bookingotheme.com"
                                    >contact@bookingotheme.com</a
                                  ></span
                                >
                                <br />
                                123 East 26th Street, <br />
                                Fifth Floor, <br />
                                New York, NY 10011
                              </div>
                            </div>
                          </div>
                          <div
                            class="elementor-element elementor-element-6586309 elementor-shape-circle elementor-widget elementor-widget-social-icons"
                            data-id="6586309"
                            data-element_type="widget"
                            data-widget_type="social-icons.default"
                          >
                            <div class="elementor-widget-container">
                              <div class="elementor-social-icons-wrapper">
                                <a
                                  href="#"
                                  class="elementor-icon elementor-social-icon elementor-social-icon-facebook elementor-animation-pop elementor-repeater-item-8524ee8"
                                  target="_blank"
                                >
                                  <span class="elementor-screen-only"
                                    >Facebook</span
                                  >
                                  <i class="fa fa-facebook"></i>
                                </a>
                                <a
                                  href="#"
                                  class="elementor-icon elementor-social-icon elementor-social-icon-twitter elementor-animation-pop elementor-repeater-item-a45de3e"
                                  target="_blank"
                                >
                                  <span class="elementor-screen-only"
                                    >Twitter</span
                                  >
                                  <i class="fa fa-twitter"></i>
                                </a>
                                <a
                                  href="#"
                                  class="elementor-icon elementor-social-icon elementor-social-icon-youtube elementor-animation-pop elementor-repeater-item-4c3769e"
                                  target="_blank"
                                >
                                  <span class="elementor-screen-only"
                                    >Youtube</span
                                  >
                                  <i class="fa fa-youtube"></i>
                                </a>
                                <a
                                  href="#"
                                  class="elementor-icon elementor-social-icon elementor-social-icon-linkedin elementor-animation-pop elementor-repeater-item-feae0ae"
                                  target="_blank"
                                >
                                  <span class="elementor-screen-only"
                                    >Linkedin</span
                                  >
                                  <i class="fa fa-linkedin"></i>
                                </a>
                                <a
                                  href="#"
                                  class="elementor-icon elementor-social-icon elementor-social-icon-tripadvisor elementor-animation-pop elementor-repeater-item-af34fb1"
                                  target="_blank"
                                >
                                  <span class="elementor-screen-only"
                                    >Tripadvisor</span
                                  >
                                  <i class="fa fa-tripadvisor"></i>
                                </a>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
              <section
                class="elementor-element elementor-element-204e4a9 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                data-id="204e4a9"
                data-element_type="section"
                data-settings='{"stretch_section":"section-stretched","background_background":"classic"}'
              >
                <div class="elementor-container elementor-column-gap-default">
                  <div class="elementor-row">
                    <div
                      class="elementor-element elementor-element-3c156dc elementor-column elementor-col-50 elementor-top-column"
                      data-id="3c156dc"
                      data-element_type="column"
                    >
                      <div
                        class="elementor-column-wrap elementor-element-populated"
                      >
                        <div class="elementor-widget-wrap">
                          <div
                            class="elementor-element elementor-element-0be436e elementor-widget elementor-widget-heading"
                            data-id="0be436e"
                            data-element_type="widget"
                            data-widget_type="heading.default"
                          >
                            <div class="elementor-widget-container">
                              <span
                                class="elementor-heading-title elementor-size-default"
                                > Copyright Kingo Landing HTML Template All
                                rights reserved.</span
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="elementor-element elementor-element-54d2c2f elementor-column elementor-col-50 elementor-top-column"
                      data-id="54d2c2f"
                      data-element_type="column"
                    >
                      <div
                        class="elementor-column-wrap elementor-element-populated"
                      >
                        <div class="elementor-widget-wrap">
                          <div
                            class="elementor-element elementor-element-68c005a elementor-widget elementor-widget-bookingo-navigation-menu"
                            data-id="68c005a"
                            data-element_type="widget"
                            data-widget_type="bookingo-navigation-menu.default"
                          >
                            <div class="elementor-widget-container">
                              <div class="tg_navigation_wrapper">
                                <div class="menu-footer-menu-container">
                                  <ul id="nav_menu23" class="nav">
                                    <li class="menu-item">
                                      <a href="#">Terms and Conditions</a>
                                    </li>
                                    <li class="menu-item">
                                      <a href="#">Privacy Policy</a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>

      <a id="toTop" href="javascript:;"><i class="fa fa-angle-up"></i></a>
    </div>

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="js/plugins/typed/js/typed.js"></script>
    <script
      type="text/javascript"
      src="js/plugins/typed/js/frontend.js"
    ></script>
    <script type="text/javascript" src="js/plugins/ui/core.min.js"></script>
    <script
      type="text/javascript"
      src="js/plugins/ui/datepicker.min.js"
    ></script>
    <script type="text/javascript">
      jQuery(document).ready(function (jQuery) {
        jQuery.datepicker.setDefaults({
          closeText: "Close",
          currentText: "Today",
          monthNames: [
            "January",
            "February",
            "March",
            "April",
            "May",
            "June",
            "July",
            "August",
            "September",
            "October",
            "November",
            "December",
          ],
          monthNamesShort: [
            "Jan",
            "Feb",
            "Mar",
            "Apr",
            "May",
            "Jun",
            "Jul",
            "Aug",
            "Sep",
            "Oct",
            "Nov",
            "Dec",
          ],
          nextText: "Next",
          prevText: "Previous",
          dayNames: [
            "Sunday",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
          ],
          dayNamesShort: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
          dayNamesMin: ["S", "M", "T", "W", "T", "F", "S"],
          dateFormat: "MM d, yy",
          firstDay: 1,
          isRTL: false,
        });
      });
    </script>

    <script
      type="text/javascript"
      src="js/plugins/imagesloaded.min.js"
    ></script>
    <script type="text/javascript" src="js/plugins/masonry.min.js"></script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/jquery.lazy.js"
    ></script>
    <script type="text/javascript">
      jQuery(function ($) {
        jQuery("img.lazy").each(function () {
          var currentImg = jQuery(this);

          jQuery(this).Lazy({
            onFinishedAll: function () {
              currentImg.parent("div.post_img_hover").removeClass("lazy");
              currentImg
                .parent(".tg_gallery_lightbox")
                .parent("div.gallery_grid_item")
                .removeClass("lazy");
              currentImg.parent("div.gallery_grid_item").removeClass("lazy");
            },
          });
        });
      });
    </script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/modulobox.js"
    ></script>
    <script type="text/javascript" src="js/plugins/ui/effect.min.js"></script>
    <script type="text/javascript" src="js/plugins/waypoints.min.js"></script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/tilt.jquery.js"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/jquery.stellar.min.js"
    ></script>
    <script type="text/javascript" src="js/plugins/custom_plugins.js"></script>
    <script type="text/javascript" src="js/plugins/custom.js"></script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/jquery.sticky-kit.min.js"
    ></script>
    <script type="text/javascript">
      jQuery(function ($) {
        jQuery("#page_content_wrapper .sidebar_wrapper").stick_in_parent({
          offset_top: 100,
          recalc_every: 1,
        });

        if (jQuery(window).width() < 768 || is_touch_device()) {
          jQuery("#page_content_wrapper .sidebar_wrapper").trigger(
            "sticky_kit:detach"
          );
        }
      });
    </script>
    <script
      type="text/javascript"
      src="js/plugins/jquery.tooltipster.min.js"
    ></script>
    <script type="text/javascript">
      jQuery(function ($) {
        jQuery(".demotip").tooltipster({
          position: "left",
        });
      });
    </script>
    <script
      type="text/javascript"
      src="js/plugins/loftloader/assets/js/loftloader.min.js"
    ></script>
    <script type="text/javascript">
      /* <![CDATA[ */
      var tgAjax = { ajaxurl: "#", ajax_nonce: "5a2b2b9ff1" };
      /* ]]> */
    </script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/kingo-elementor.js"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/elementor/assets/lib/jquery-numerator/jquery-numerator.min.js"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/flickity.pkgd8b068b06.js?ver=5.4.7"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/velocity.js"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/velocity.ui.js"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/anime.min8b068b06.js?ver=5.4.7"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/mls8b068b06.js?ver=5.4.7"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/elementor/assets/lib/swiper/swiper.min.js"
    ></script>
    <script type="text/javascript" src="js/plugins/jquery.cookie.js"></script>
    <script
      type="text/javascript"
      src="js/plugins/elementor/assets/js/frontend-modules.min.js"
    ></script>
    <script type="text/javascript" src="js/plugins/ui/position.min.js"></script>
    <script
      type="text/javascript"
      src="js/plugins/elementor/assets/lib/dialog/dialog.min.js"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/elementor/assets/lib/waypoints/waypoints.min.js"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/elementor/assets/lib/share-link/share-link.min.js"
    ></script>
    <script type="text/javascript">
      var elementorFrontendConfig = {
        environmentMode: { edit: false, wpPreview: false },
        i18n: {
          shareOnFacebook: "Share on Facebook",
          shareOnTwitter: "Share on Twitter",
          pinIt: "Pin it",
          downloadImage: "Download image",
        },
        is_rtl: false,
        breakpoints: { xs: 0, sm: 480, md: 768, lg: 1025, xl: 1440, xxl: 1600 },
        version: "2.9.14",
        urls: {
          assets:
            "https:\/\/themes.themegoods.com\/bookingo\/demo\/wp-content\/plugins\/elementor\/assets\/",
        },
        settings: {
          page: [],
          general: {
            elementor_global_image_lightbox: "yes",
            elementor_lightbox_enable_counter: "yes",
            elementor_lightbox_enable_fullscreen: "yes",
            elementor_lightbox_enable_zoom: "yes",
            elementor_lightbox_enable_share: "yes",
            elementor_lightbox_title_src: "title",
            elementor_lightbox_description_src: "description",
          },
          editorPreferences: [],
        },
        post: {
          id: 1706,
          title:
            "Kingo%20%7C%20Accountant%20Demo%20%E2%80%93%20Just%20another%20WordPress%20site",
          excerpt: "",
          featuredImage: false,
        },
      };
    </script>
    <script
      type="text/javascript"
      src="js/plugins/elementor/assets/js/frontend.min.js"
    ></script>
  </body>
</html>
