<!DOCTYPE html>
<html lang="en-US" data-menu="leftalign">
  <head>
    <title><%= title %></title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="format-detection" content="telephone=no" />

    <link
      rel="stylesheet"
      href="js/plugins/booked/assets/css/icons.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/booked/assets/js/tooltipster/css/tooltipster.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/booked/assets/js/tooltipster/css/themes/tooltipster-light.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/booked/assets/css/animations.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/booked/assets/css/styles.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/booked/assets/css/responsive.css"
      type="text/css"
      media="all"
    />
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="all" />
    <link
      rel="stylesheet"
      href="css/wordpress.css"
      type="text/css"
      media="all"
    />
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <link
      rel="stylesheet"
      href="css/modulobox.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="css/leftalignmenu.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="css/font-awesome.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="css/themify-icons.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="css/tooltipster.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/loftloader/assets/css/loftloader.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/elementor/assets/lib/animations/animations.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/elementor/assets/css/frontend.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/kingo-elementor/assets/css/swiper.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/kingo-elementor/assets/css/justifiedGallery.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/kingo-elementor/assets/css/flickity.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/kingo-elementor/assets/css/kingo-elementor.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/kingo-elementor/assets/css/kingo-elementor-responsive.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/elementor/assets/lib/font-awesome/css/font-awesome.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="css/custom-css.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="css/responsive.css"
      type="text/css"
      media="all"
    />

    <link rel="icon" href="upload/TG-Thumb.png" sizes="32x32" />
    <link rel="icon" href="upload/TG-Thumb.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="upload/TG-Thumb.png" />
    <meta name="msapplication-TileImage" content="upload/TG-Thumb.png" />
  </head>

  <body
    data-rsssl="1"
    class="post-template-default single single-post postid-226 single-format-standard woocommerce-no-js tg_lightbox_black tg_sidemenu_desktop leftalign tg_footer_reveal loftloader-lite-enabled elementor-default"
  >
    <div
      id="loftloader-wrapper"
      class="pl-imgloading"
      data-show-close-time="15000"
      data-max-load-time="0"
    >
      <div class="loader-inner">
        <div id="loader">
          <div class="imgloading-container">
            <span style="background-image: url(images/pp-logo.png)"></span>
          </div>
          <img
            data-no-lazy="1"
            class="skip-lazy"
            alt="loader image"
            src="images/pp-logo.png"
          />
        </div>
      </div>
      <div class="loader-section section-fade"></div>
      <div class="loader-close-button" style="display: none">
        <span class="screen-reader-text">Close</span>
      </div>
    </div>

    <div id="perspective">
      <!-- Begin mobile menu -->
      <a id="close_mobile_menu" href="javascript:;"></a>

      <div class="mobile_menu_wrapper">
        <div class="mobile_menu_content">
          <div class="menu-main-menu-container">
            <ul id="mobile_main_menu" class="mobile_main_nav">
              <li class="menu-item menu-item-home">
                <a href="/" aria-current="page">Home</a>
              </li>
              <li class="menu-item menu-item-home">
                <a href="/about" aria-current="page">About Us</a>
              </li>
              <li class="menu-item menu-item-home">
                <a href="/services" aria-current="page">Services</a>
              </li>
              <li class="menu-item menu-item-home">
                <a href="/team" aria-current="page">Team</a>
              </li>
              <li class="menu-item menu-item-home">
                <a href="/contact" aria-current="page">Contact</a>
              </li>

              <li class="menu-item menu-item-has-children">
                <a href="#">Other</a>
                <ul class="sub-menu">
                  <li class="menu-item">
                    <a href="/blog">Blog</a>
                  </li>

                  <li class="menu-item">
                    <a href="/testimonials">Testimonials</a>
                  </li>
                  <li class="menu-item">
                    <a href="/faqs">FAQs</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End mobile menu -->
      <!-- Begin template wrapper -->
      <div id="wrapper" class="hasbg transparent">
        <div id="elementor_header" class="header_style_wrapper nonfixed">
          <div
            data-elementor-type="wp-post"
            data-elementor-id="64"
            class="elementor elementor-64"
            data-elementor-settings="[]"
          >
            <div class="elementor-inner">
              <div class="elementor-section-wrap">
                <section
                  class="elementor-element elementor-element-d3a9fbc elementor-section-stretched animated-fast elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible elementor-section elementor-top-section"
                  data-id="d3a9fbc"
                  data-element_type="section"
                  data-settings='{"stretch_section":"section-stretched","background_background":"classic","animation":"fadeIn"}'
                >
                  <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-row">
                      <div
                        class="elementor-element elementor-element-8952182 elementor-column elementor-col-20 elementor-top-column"
                        data-id="8952182"
                        data-element_type="column"
                      >
                        <div
                          class="elementor-column-wrap elementor-element-populated"
                        >
                          <div class="elementor-widget-wrap">
                            <div
                              class="elementor-element elementor-element-b03b354 elementor-widget elementor-widget-image"
                              data-id="b03b354"
                              data-element_type="widget"
                              data-widget_type="image.default"
                            >
                              <div class="elementor-widget-container">
                                <div class="elementor-image">
                                  <a href="/">
                                    <img
                                      style="width: 200px !important"
                                      src="images/pp-logo-dark.png"
                                      class="attachment-full size-full"
                                      alt=""
                                    />
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-708113b elementor_responsive_hide elementor-column elementor-col-20 elementor-top-column"
                        data-id="708113b"
                        data-element_type="column"
                      >
                        <div
                          class="elementor-column-wrap elementor-element-populated"
                        >
                          <div class="elementor-widget-wrap">
                            <div
                              class="elementor-element elementor-element-8e78b47 elementor-hidden-tablet elementor-hidden-phone elementor-widget elementor-widget-bookingo-navigation-menu"
                              data-id="8e78b47"
                              data-element_type="widget"
                              data-widget_type="bookingo-navigation-menu.default"
                            >
                              <div class="elementor-widget-container">
                                <div class="tg_navigation_wrapper">
                                  <div class="menu-main-menu-container">
                                    <ul id="nav_menu6" class="nav">
                                      <li class="menu-item menu-item-home">
                                        <a href="/" aria-current="page">Home</a>
                                      </li>
                                      <li class="menu-item menu-item-home">
                                        <a href="/about" aria-current="page"
                                          >About Us</a
                                        >
                                      </li>
                                      <li class="menu-item menu-item-home">
                                        <a href="/services" aria-current="page"
                                          >Services</a
                                        >
                                      </li>
                                      <li class="menu-item menu-item-home">
                                        <a href="/team" aria-current="page"
                                          >Team</a
                                        >
                                      </li>
                                      <li class="menu-item menu-item-home">
                                        <a href="/contact" aria-current="page"
                                          >Contact</a
                                        >
                                      </li>

                                      <li
                                        class="menu-item menu-item-has-children"
                                      >
                                        <a href="#">Other</a>
                                        <ul class="sub-menu">
                                          <li class="menu-item">
                                            <a href="/blog">Blog</a>
                                          </li>

                                          <li class="menu-item">
                                            <a href="/testimonials"
                                              >Testimonials</a
                                            >
                                          </li>
                                          <li class="menu-item">
                                            <a href="/faqs">FAQs</a>
                                          </li>
                                        </ul>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-4335597 elementor_responsive_hide elementor-column elementor-col-20 elementor-top-column"
                        data-id="4335597"
                        data-element_type="column"
                      ></div>
                      <div
                        class="elementor-element elementor-element-94d4615 elementor_desktop_hide elementor-column elementor-col-20 elementor-top-column"
                        data-id="94d4615"
                        data-element_type="column"
                      >
                        <div
                          class="elementor-column-wrap elementor-element-populated"
                        >
                          <div class="elementor-widget-wrap">
                            <div
                              class="elementor-element elementor-element-ed53f40 elementor-align-right elementor-hidden-desktop elementor_mobile_nav elementor-widget elementor-widget-button"
                              data-id="ed53f40"
                              data-element_type="widget"
                              data-widget_type="button.default"
                            >
                              <div class="elementor-widget-container">
                                <div class="elementor-button-wrapper">
                                  <a
                                    href="#"
                                    class="elementor-button-link elementor-button elementor-size-xl"
                                    role="button"
                                  >
                                    <span
                                      class="elementor-button-content-wrapper"
                                    >
                                      <span
                                        class="elementor-button-icon elementor-align-icon-left"
                                      >
                                        <i
                                          class="fa fa-bars"
                                          aria-hidden="true"
                                        ></i>
                                      </span>
                                      <span
                                        class="elementor-button-text"
                                      ></span>
                                    </span>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-b1270b6 elementor_responsive_hide elementor-column elementor-col-20 elementor-top-column"
                        data-id="b1270b6"
                        data-element_type="column"
                      >
                        <div
                          class="elementor-column-wrap elementor-element-populated"
                        >
                          <div class="elementor-widget-wrap">
                            <div
                              class="elementor-element elementor-element-8e3f5ef elementor-align-right elementor-hidden-tablet elementor-hidden-phone elementor-widget elementor-widget-button"
                              data-id="8e3f5ef"
                              data-element_type="widget"
                              data-widget_type="button.default"
                            >
                              <div class="elementor-widget-container">
                                <div class="elementor-button-wrapper">
                                  <a
                                    href="/contact"
                                    class="elementor-button-link elementor-button elementor-size-sm elementor-animation-grow"
                                    role="button"
                                  >
                                    <span
                                      class="elementor-button-content-wrapper"
                                    >
                                      <span class="elementor-button-text"
                                        >Book Now</span
                                      >
                                    </span>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>

        <div
          id="page_caption"
          class="hasbg"
          style="
            background-image: url(upload/aerial-view-of-hands-working-with-computer-laptop-P32YE9V.jpg);
          "
        >
          <div id="page_caption_overlay"></div>
          <div class="page_title_wrapper">
            <div class="standard_wrapper">
              <div class="page_title_inner">
                <div class="page_title_content">
                  <div class="post_detail single_post">
                    <span class="post_info_cat">
                      <a href="/blog-single">Booking</a>
                      &nbsp;&middot;&nbsp;
                      <a href="/blog-single">Business Development</a>
                      &nbsp;&middot;&nbsp;
                      <a href="/blog-single">Leads &amp; Sale</a>
                    </span>
                  </div>
                  <h1>
                    Square Appointments Allows Businesses to Reach Customers on
                    Instagram and Google
                  </h1>
                  <div class="post_attribute">January 3, 2022</div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Begin content -->
        <div id="page_content_wrapper" class="blog_wrapper hasbg">
          <div class="inner">
            <!-- Begin main content -->
            <div class="inner_wrapper">
              <div class="sidebar_content">
                <!-- Begin each blog post -->
                <div
                  id="post-226"
                  class="post-226 post type-post status-publish format-standard has-post-thumbnail hentry category-booking category-business-development category-leads-sale tag-booking tag-marketing tag-small-business"
                >
                  <div class="post_wrapper">
                    <p>
                      Meh synth Schlitz, tempor duis single-origin coffee ea
                      next level ethnic fingerstache fanny pack nostrud. Photo
                      booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica.
                      Salvia esse nihil, flexitarian Truffaut synth art party
                      deep v chillwave. Seitan High Life reprehenderit
                      consectetur cupidatat kogi. Et leggings fanny pack.
                    </p>

                    <p>
                      Exercitation photo booth stumptown tote bag Banksy, elit
                      small batch freegan sed. Craft beer elit seitan
                      exercitation, photo booth et 8-bit kale chips proident
                      chillwave deep v laborum.&nbsp;
                      <em
                        ><strong
                          >Aliquip veniam delectus, Marfa eiusmod
                          Pinterest</strong
                        ></em
                      >&nbsp;in do umami readymade swag.&nbsp;Selfies iPhone
                      Kickstarter, drinking vinegar jean vinegar
                      stumptown&nbsp;yr pop-up artisan.
                    </p>

                    <blockquote
                      style="text-align: left"
                      class="wp-block-quote is-style-default"
                    >
                      <p>
                        <strong
                          >Help your team feel more connected to your company by
                          incorporating the right digital technology tools into
                          their workflow.</strong
                        >
                      </p>
                      <cite><strong>Andrea Meyer</strong></cite>
                    </blockquote>

                    <p>
                      See-through delicate embroidered organza blue lining
                      luxury acetate-mix stretch pleat detailing. Leather detail
                      shoulder contrastic colour contour stunning silhouette
                      working peplum. Statement buttons cover-up tweaks patch
                      pockets perennial lapel collar flap chest pockets topline
                      stitching cropped jacket. Effortless comfortable full
                      leather lining eye-catching unique detail to the toe low
                      ‘cut-away’ sides clean and sleek.&nbsp;Polished finish
                      elegant court shoe work duty stretchy slingback strap mid
                      kitten heel this ladylike design&nbsp;slingback strap mid
                      kitten heel this ladylike design.
                    </p>
                    <div
                      id="dpsp-content-bottom"
                      class="dpsp-content-wrapper dpsp-shape-rounded dpsp-column-3 dpsp-has-spacing dpsp-hide-on-mobile dpsp-button-style-1 dpsp-has-icon-background dpsp-has-button-background"
                    >
                      <ul
                        class="dpsp-networks-btns-wrapper dpsp-networks-btns-content dpsp-has-button-icon-animation"
                      >
                        <li>
                          <a
                            rel="nofollow"
                            href="#"
                            class="dpsp-network-btn dpsp-facebook dpsp-first"
                            title="Share on Facebook"
                          >
                            <span class="dpsp-network-icon"></span
                            ><span class="dpsp-network-label-wrapper"
                              ><span class="dpsp-network-label"
                                >Share</span
                              ></span
                            >
                          </a>
                        </li>
                        <li>
                          <a
                            rel="nofollow"
                            href="#"
                            class="dpsp-network-btn dpsp-twitter"
                            title="Share on Twitter"
                          >
                            <span class="dpsp-network-icon"></span
                            ><span class="dpsp-network-label-wrapper"
                              ><span class="dpsp-network-label"
                                >Tweet</span
                              ></span
                            >
                          </a>
                        </li>
                        <li>
                          <a
                            rel="nofollow"
                            href="#"
                            class="dpsp-network-btn dpsp-pinterest dpsp-last"
                            title="Save to Pinterest"
                          >
                            <span class="dpsp-network-icon"></span
                            ><span class="dpsp-network-label-wrapper"
                              ><span class="dpsp-network-label"
                                >Pinterest</span
                              ></span
                            >
                          </a>
                        </li>
                      </ul>
                    </div>
                    <br class="clear" />
                    <div class="post_excerpt post_tag">
                      <a href="/blog-single">Booking</a
                      ><a href="/blog-single">Marketing</a
                      ><a href="/blog-single">Small Business</a>
                    </div>
                    <br class="clear" />
                  </div>

                  <div class="post_related">
                    <h3>Related Articles</h3>
                    <br class="clear" />
                    <div class="one_half">
                      <!-- Begin each blog post -->
                      <div
                        id="post-241"
                        class="post-241 post type-post status-publish format-standard has-post-thumbnail hentry category-business-development category-leads-sale category-marketing tag-booking tag-marketing tag-small-business"
                      >
                        <div class="post_wrapper grid_layout">
                          <div class="post_img static">
                            <div class="post_img_hover classic lazy">
                              <img
                                src="upload/bicycle-in-blue-bedroom-interior-P9H645C-960x550.jpg"
                                class=""
                                alt=""
                              />
                              <a href="/blog-single"></a>
                            </div>
                          </div>

                          <div class="post_header_wrapper">
                            <div class="post_header grid related">
                              <h6>
                                <a
                                  href="/blog-single"
                                  title="Better Credit Gets Your Business Up to 20 Times the Loan Money, Report Says"
                                >
                                  Better Credit Gets Your Business Up to 20
                                  Times the Loan Money, Report Says
                                </a>
                              </h6>
                            </div>

                            <div class="post_header_wrapper">
                              <div class="post_button_wrapper">
                                <div class="post_detail">
                                  <a
                                    href="/blog-single"
                                    title="Better Credit Gets Your Business Up to 20 Times the Loan Money, Report Says"
                                  >
                                    January 3, 2022
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- End each blog post -->
                    </div>
                    <div class="one_half last">
                      <!-- Begin each blog post -->
                      <div
                        id="post-248"
                        class="post-248 post type-post status-publish format-standard has-post-thumbnail hentry category-business-development category-general category-leads-sale tag-booking tag-marketing tag-small-business"
                      >
                        <div class="post_wrapper grid_layout">
                          <div class="post_img static">
                            <div class="post_img_hover classic lazy">
                              <img
                                src="upload/happy-handsome-bearded-man-sitting-in-office-MT5NFB2-960x550.jpg"
                                class=""
                                alt=""
                              />
                              <a href="/blog-single"></a>
                            </div>
                          </div>

                          <div class="post_header_wrapper">
                            <div class="post_header grid related">
                              <h6>
                                <a
                                  href="/blog-single"
                                  title="Anchor Bookkeeping Offers Digital Accounting with Added Services for Small Businesses"
                                >
                                  Anchor Bookkeeping Offers Digital Accounting
                                  with Added Services for Small Businesses
                                </a>
                              </h6>
                            </div>

                            <div class="post_header_wrapper">
                              <div class="post_button_wrapper">
                                <div class="post_detail">
                                  <a
                                    href="/blog-single"
                                    title="Anchor Bookkeeping Offers Digital Accounting with Added Services for Small Businesses"
                                  >
                                    January 3, 2022
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- End each blog post -->
                    </div>
                  </div>
                </div>
                <!-- End each blog post -->

                <div class="post_navigation previous">
                  <a href="/blog-single">
                    <div class="navigation_post_content">
                      <div class="post_img static">
                        <div class="post_img_hover lazy">
                          <img
                            src="upload/three-businesspeople-working-in-cafe-FYEMGJB-610x610.jpg"
                            class=""
                            alt=""
                          />
                        </div>
                      </div>
                      <h7
                        >94% of Consumers Say Your Website Must Be Easy to
                        Navigate</h7
                      >
                    </div>
                    <div class="navigation_anchor">Previous Article</div>
                  </a>
                </div>
                <div class="post_navigation next">
                  <a href="/blog-single">
                    <div class="navigation_post_content">
                      <div class="post_img static">
                        <div class="post_img_hover lazy">
                          <img
                            src="upload/rawpixel-570911-unsplash-610x610.jpg"
                            class=""
                            alt=""
                          />
                        </div>
                      </div>
                      <h7
                        >The Messy Middle Tackles the Hard Work on the Way to a
                        Big Idea</h7
                      >
                    </div>
                    <div class="navigation_anchor">Next Article</div>
                  </a>
                </div>
              </div>

              <div class="sidebar_wrapper">
                <div class="sidebar">
                  <div class="content">
                    <ul class="sidebar_widget">
                      <li id="categories-4" class="widget widget_categories">
                        <h2 class="widgettitle"><span>Categories</span></h2>
                        <ul>
                          <li class="cat-item cat-item-1">
                            <a href="/blog-single">Booking</a> (6)
                          </li>
                          <li class="cat-item cat-item-23">
                            <a href="/blog-single">Business Development</a>
                            (6)
                          </li>
                          <li class="cat-item cat-item-21">
                            <a href="/blog-single">General</a> (8)
                          </li>
                          <li class="cat-item cat-item-24">
                            <a href="/blog-single">Leads &amp; Sale</a> (8)
                          </li>
                          <li class="cat-item cat-item-22">
                            <a href="/blog-single">Marketing</a> (8)
                          </li>
                        </ul>
                      </li>
                      <li id="bookingo_flickr-3" class="widget Bookingo_Flickr">
                        <h2 class="widgettitle"><span>Gallery</span></h2>
                        <ul class="flickr">
                          <li>
                            <a class="no_effect" target="_blank" href="#">
                              <img
                                src="upload/insta1.jpg"
                                alt="The Staircase"
                                width="75"
                                height="75"
                              />
                            </a>
                          </li>
                          <li>
                            <a class="no_effect" target="_blank" href="#">
                              <img
                                src="upload/insta2.jpg"
                                alt="25 de Abril"
                                width="75"
                                height="75"
                              />
                            </a>
                          </li>
                          <li>
                            <a class="no_effect" target="_blank" href="#">
                              <img
                                src="upload/insta3.jpg"
                                alt="London Calling"
                                width="75"
                                height="75"
                              />
                            </a>
                          </li>
                          <li>
                            <a class="no_effect" target="_blank" href="#">
                              <img
                                src="upload/insta4.jpg"
                                alt="Turbulence"
                                width="75"
                                height="75"
                              />
                            </a>
                          </li>
                          <li>
                            <a class="no_effect" target="_blank" href="#">
                              <img
                                src="upload/insta5.jpg"
                                alt="Kirkjufell"
                                width="75"
                                height="75"
                              />
                            </a>
                          </li>
                          <li>
                            <a class="no_effect" target="_blank" href="#">
                              <img
                                src="upload/insta6.jpg"
                                alt="BA64"
                                width="75"
                                height="75"
                              />
                            </a>
                          </li>
                          <li>
                            <a class="no_effect" target="_blank" href="#">
                              <img
                                src="upload/insta7.jpg"
                                alt="IvIvIvI"
                                width="75"
                                height="75"
                              />
                            </a>
                          </li>
                          <li>
                            <a class="no_effect" target="_blank" href="#">
                              <img
                                src="upload/insta8.jpg"
                                alt="When the levee breaks"
                                width="75"
                                height="75"
                              />
                            </a>
                          </li>
                          <li>
                            <a class="no_effect" target="_blank" href="#">
                              <img
                                src="upload/insta9.jpg"
                                alt="Ebbing Tide"
                                width="75"
                                height="75"
                              />
                            </a>
                          </li>
                        </ul>
                        <br class="clear" />
                      </li>
                      <li id="text-3" class="widget widget_text">
                        <h2 class="widgettitle"><span>About Author</span></h2>
                        <div class="textwidget">
                          <p>
                            Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus
                            eget condimentum rhoncus, sem quam semper libero,
                            Aliquam lorem ante, dapibus in
                          </p>
                          <p>
                            <img
                              class="alignnone size-medium wp-image-148"
                              src="upload/MichaelJorge.png"
                              alt=""
                              width="209"
                              height="71"
                            />
                          </p>
                        </div>
                      </li>
                      <li
                        id="bookingo_recent_posts-3"
                        class="widget Bookingo_Recent_Posts"
                      >
                        <h2 class="widgettitle"><span>Recent Posts</span></h2>
                        <ul class="posts blog withthumb">
                          <li>
                            <div class="post_circle_thumb">
                              <a href="/blog-single">
                                <img
                                  src="upload/focused-colleagues-working-together-at-a-table-in-SN2G58T-150x150.jpg"
                                  alt="82% of Small Businesses Struggle to Find Qualified Talent, Report Reveals"
                                />
                              </a>
                            </div>
                            <a href="/blog-single"
                              >82% of Small Businesses Struggle to Find
                              Qualified Talent, Report Reveals</a
                            >
                            <div class="post_attribute">January 3, 2022</div>
                          </li>
                          <li>
                            <div class="post_circle_thumb">
                              <a href="/blog-single">
                                <img
                                  src="upload/happy-handsome-bearded-man-sitting-in-office-MT5NFB2-150x150.jpg"
                                  alt="Anchor Bookkeeping Offers Digital Accounting with Added Services for Small Businesses"
                                />
                              </a>
                            </div>
                            <a href="/blog-single">
                              Anchor Bookkeeping Offers Digital Accounting with
                              Added Services for Small Businesses
                            </a>
                            <div class="post_attribute">January 3, 2022</div>
                          </li>
                          <li>
                            <div class="post_circle_thumb">
                              <a href="/blog-single">
                                <img
                                  src="upload/mature-businessman-with-gray-hair-in-the-office-PJ8CDSM-150x150.jpg"
                                  alt="Thanks to Small Businesses Working on Christmas to Make Holiday Brighter"
                                />
                              </a>
                            </div>
                            <a href="/blog-single"
                              >Thanks to Small Businesses Working on Christmas
                              to Make Holiday Brighter</a
                            >
                            <div class="post_attribute">January 3, 2022</div>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
                <br class="clear" />
              </div>
            </div>
            <!-- End main content -->
          </div>

          <br class="clear" />
        </div>
      </div>
      <%- include('footer'); -%>

      <a id="toTop" href="javascript:;"><i class="fa fa-angle-up"></i></a>
    </div>

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="js/plugins/typed/js/typed.js"></script>
    <script
      type="text/javascript"
      src="js/plugins/typed/js/frontend.js"
    ></script>
    <script type="text/javascript" src="js/plugins/ui/core.min.js"></script>
    <script
      type="text/javascript"
      src="js/plugins/ui/datepicker.min.js"
    ></script>
    <script type="text/javascript">
      jQuery(document).ready(function (jQuery) {
        jQuery.datepicker.setDefaults({
          closeText: "Close",
          currentText: "Today",
          monthNames: [
            "January",
            "February",
            "March",
            "April",
            "May",
            "June",
            "July",
            "August",
            "September",
            "October",
            "November",
            "December",
          ],
          monthNamesShort: [
            "Jan",
            "Feb",
            "Mar",
            "Apr",
            "May",
            "Jun",
            "Jul",
            "Aug",
            "Sep",
            "Oct",
            "Nov",
            "Dec",
          ],
          nextText: "Next",
          prevText: "Previous",
          dayNames: [
            "Sunday",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
          ],
          dayNamesShort: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
          dayNamesMin: ["S", "M", "T", "W", "T", "F", "S"],
          dateFormat: "MM d, yy",
          firstDay: 1,
          isRTL: false,
        });
      });
    </script>

    <script
      type="text/javascript"
      src="js/plugins/imagesloaded.min.js"
    ></script>
    <script type="text/javascript" src="js/plugins/masonry.min.js"></script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/jquery.lazy.js"
    ></script>
    <script type="text/javascript">
      jQuery(function ($) {
        jQuery("img.lazy").each(function () {
          var currentImg = jQuery(this);

          jQuery(this).Lazy({
            onFinishedAll: function () {
              currentImg.parent("div.post_img_hover").removeClass("lazy");
              currentImg
                .parent(".tg_gallery_lightbox")
                .parent("div.gallery_grid_item")
                .removeClass("lazy");
              currentImg.parent("div.gallery_grid_item").removeClass("lazy");
            },
          });
        });
      });
    </script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/modulobox.js"
    ></script>
    <script type="text/javascript" src="js/plugins/ui/effect.min.js"></script>
    <script type="text/javascript" src="js/plugins/waypoints.min.js"></script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/tilt.jquery.js"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/jquery.stellar.min.js"
    ></script>
    <script type="text/javascript" src="js/plugins/custom_plugins.js"></script>
    <script type="text/javascript" src="js/plugins/custom.js"></script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/jquery.sticky-kit.min.js"
    ></script>
    <script type="text/javascript">
      jQuery(function ($) {
        jQuery("#page_content_wrapper .sidebar_wrapper").stick_in_parent({
          offset_top: 100,
          recalc_every: 1,
        });

        if (jQuery(window).width() < 768 || is_touch_device()) {
          jQuery("#page_content_wrapper .sidebar_wrapper").trigger(
            "sticky_kit:detach"
          );
        }
      });
    </script>
    <script
      type="text/javascript"
      src="js/plugins/jquery.tooltipster.min.js"
    ></script>
    <script type="text/javascript">
      jQuery(function ($) {
        jQuery(".demotip").tooltipster({
          position: "left",
        });
      });
    </script>
    <script
      type="text/javascript"
      src="js/plugins/loftloader/assets/js/loftloader.min.js"
    ></script>
    <script type="text/javascript">
      /* <![CDATA[ */
      var tgAjax = { ajaxurl: "#", ajax_nonce: "5a2b2b9ff1" };
      /* ]]> */
    </script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/kingo-elementor.js"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/elementor/assets/lib/jquery-numerator/jquery-numerator.min.js"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/flickity.pkgd8b068b06.js?ver=5.4.7"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/velocity.js"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/velocity.ui.js"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/anime.min8b068b06.js?ver=5.4.7"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/mls8b068b06.js?ver=5.4.7"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/elementor/assets/lib/swiper/swiper.min.js"
    ></script>
    <script type="text/javascript" src="js/plugins/jquery.cookie.js"></script>
    <script
      type="text/javascript"
      src="js/plugins/elementor/assets/js/frontend-modules.min.js"
    ></script>
    <script type="text/javascript" src="js/plugins/ui/position.min.js"></script>
    <script
      type="text/javascript"
      src="js/plugins/elementor/assets/lib/dialog/dialog.min.js"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/elementor/assets/lib/waypoints/waypoints.min.js"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/elementor/assets/lib/share-link/share-link.min.js"
    ></script>
    <script type="text/javascript">
      var elementorFrontendConfig = {
        environmentMode: { edit: false, wpPreview: false },
        i18n: {
          shareOnFacebook: "Share on Facebook",
          shareOnTwitter: "Share on Twitter",
          pinIt: "Pin it",
          downloadImage: "Download image",
        },
        is_rtl: false,
        breakpoints: { xs: 0, sm: 480, md: 768, lg: 1025, xl: 1440, xxl: 1600 },
        version: "2.9.14",
        urls: {
          assets:
            "https:\/\/themes.themegoods.com\/bookingo\/demo\/wp-content\/plugins\/elementor\/assets\/",
        },
        settings: {
          page: [],
          general: {
            elementor_global_image_lightbox: "yes",
            elementor_lightbox_enable_counter: "yes",
            elementor_lightbox_enable_fullscreen: "yes",
            elementor_lightbox_enable_zoom: "yes",
            elementor_lightbox_enable_share: "yes",
            elementor_lightbox_title_src: "title",
            elementor_lightbox_description_src: "description",
          },
          editorPreferences: [],
        },
        post: {
          id: 1706,
          title:
            "Kingo%20%7C%20Accountant%20Demo%20%E2%80%93%20Just%20another%20WordPress%20site",
          excerpt: "",
          featuredImage: false,
        },
      };
    </script>
    <script
      type="text/javascript"
      src="js/plugins/elementor/assets/js/frontend.min.js"
    ></script>
  </body>
</html>
