<!DOCTYPE html>
<html lang="en-US" data-menu="leftalign">
  <head>
    <title><%= title %></title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="format-detection" content="telephone=no" />

    <link
      rel="stylesheet"
      href="js/plugins/booked/assets/css/icons.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/booked/assets/js/tooltipster/css/tooltipster.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/booked/assets/js/tooltipster/css/themes/tooltipster-light.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/booked/assets/css/animations.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/booked/assets/css/styles.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/booked/assets/css/responsive.css"
      type="text/css"
      media="all"
    />
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="all" />
    <link
      rel="stylesheet"
      href="css/wordpress.css"
      type="text/css"
      media="all"
    />
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <link
      rel="stylesheet"
      href="css/modulobox.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="css/leftalignmenu.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="css/font-awesome.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="css/themify-icons.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="css/tooltipster.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/loftloader/assets/css/loftloader.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/elementor/assets/lib/animations/animations.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/elementor/assets/css/frontend.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/kingo-elementor/assets/css/swiper.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/kingo-elementor/assets/css/justifiedGallery.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/kingo-elementor/assets/css/flickity.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/kingo-elementor/assets/css/kingo-elementor.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/kingo-elementor/assets/css/kingo-elementor-responsive.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/elementor/assets/lib/font-awesome/css/font-awesome.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="css/custom-css.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="css/responsive.css"
      type="text/css"
      media="all"
    />

    <link rel="icon" href="upload/TG-Thumb.png" sizes="32x32" />
    <link rel="icon" href="upload/TG-Thumb.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="upload/TG-Thumb.png" />
    <meta name="msapplication-TileImage" content="upload/TG-Thumb.png" />
  </head>

  <body
    data-rsssl="1"
    class="home page-template-default page page-id-1706 woocommerce-no-js tg_menu_transparent tg_lightbox_black tg_sidemenu_desktop leftalign tg_footer_reveal loftloader-lite-enabled elementor-default elementor-kit-3641 elementor-page elementor-page-1706"
  >
    <div
      id="loftloader-wrapper"
      class="pl-imgloading"
      data-show-close-time="15000"
      data-max-load-time="0"
    >
      <div class="loader-inner">
        <div id="loader">
          <div class="imgloading-container">
            <span style="background-image: url(images/pp-logo.png)"></span>
          </div>
          <img
            data-no-lazy="1"
            class="skip-lazy"
            alt="loader image"
            src="images/pp-logo.png"
          />
        </div>
      </div>
      <div class="loader-section section-fade"></div>
      <div class="loader-close-button" style="display: none">
        <span class="screen-reader-text">Close</span>
      </div>
    </div>

    <div id="perspective">
      <!-- Begin mobile menu -->
      <a id="close_mobile_menu" href="javascript:;"></a>

      <div class="mobile_menu_wrapper">
        <div class="mobile_menu_content">
          <div class="menu-main-menu-container">
            <ul id="mobile_main_menu" class="mobile_main_nav">
              <li class="menu-item menu-item-home">
                <a href="/" aria-current="page">Home</a>
              </li>
              <li class="menu-item menu-item-home">
                <a href="/about" aria-current="page">About Us</a>
              </li>
              <li class="menu-item menu-item-home">
                <a href="/services" aria-current="page">Services</a>
              </li>
              <li class="menu-item menu-item-home">
                <a href="/team" aria-current="page">Team</a>
              </li>
              <li class="menu-item menu-item-home current-menu-item">
                <a href="/contact" aria-current="page">Contact</a>
              </li>

              <li class="menu-item menu-item-has-children">
                <a href="#">Other</a>
                <ul class="sub-menu">
                  <li class="menu-item">
                    <a href="/blog">Blog</a>
                  </li>

                  <li class="menu-item">
                    <a href="/testimonials">Testimonials</a>
                  </li>
                  <li class="menu-item">
                    <a href="/faqs">FAQs</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End mobile menu -->
      <!-- Begin template wrapper -->
      <div id="wrapper" class="hasbg transparent">
        <div id="elementor_header" class="header_style_wrapper nonfixed">
          <div
            data-elementor-type="wp-post"
            data-elementor-id="64"
            class="elementor elementor-64"
            data-elementor-settings="[]"
          >
            <div class="elementor-inner">
              <div class="elementor-section-wrap">
                <section
                  class="elementor-element elementor-element-d3a9fbc elementor-section-stretched animated-fast elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible elementor-section elementor-top-section"
                  data-id="d3a9fbc"
                  data-element_type="section"
                  data-settings='{"stretch_section":"section-stretched","background_background":"classic","animation":"fadeIn"}'
                >
                  <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-row">
                      <div
                        class="elementor-element elementor-element-8952182 elementor-column elementor-col-20 elementor-top-column"
                        data-id="8952182"
                        data-element_type="column"
                      >
                        <div
                          class="elementor-column-wrap elementor-element-populated"
                        >
                          <div class="elementor-widget-wrap">
                            <div
                              class="elementor-element elementor-element-b03b354 elementor-widget elementor-widget-image"
                              data-id="b03b354"
                              data-element_type="widget"
                              data-widget_type="image.default"
                            >
                              <div class="elementor-widget-container">
                                <div class="elementor-image">
                                  <a href="/">
                                    <img
                                      style="width: 200px !important"
                                      src="images/pp-logo-dark.png"
                                      class="attachment-full size-full"
                                      alt=""
                                    />
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-708113b elementor_responsive_hide elementor-column elementor-col-20 elementor-top-column"
                        data-id="708113b"
                        data-element_type="column"
                      >
                        <div
                          class="elementor-column-wrap elementor-element-populated"
                        >
                          <div class="elementor-widget-wrap">
                            <div
                              class="elementor-element elementor-element-8e78b47 elementor-hidden-tablet elementor-hidden-phone elementor-widget elementor-widget-bookingo-navigation-menu"
                              data-id="8e78b47"
                              data-element_type="widget"
                              data-widget_type="bookingo-navigation-menu.default"
                            >
                              <div class="elementor-widget-container">
                                <div class="tg_navigation_wrapper">
                                  <div class="menu-main-menu-container">
                                    <ul id="nav_menu6" class="nav">
                                      <li class="menu-item menu-item-home">
                                        <a href="/" aria-current="page">Home</a>
                                      </li>
                                      <li class="menu-item menu-item-home">
                                        <a href="/about" aria-current="page"
                                          >About Us</a
                                        >
                                      </li>
                                      <li class="menu-item menu-item-home">
                                        <a href="/services" aria-current="page"
                                          >Services</a
                                        >
                                      </li>
                                      <li class="menu-item menu-item-home">
                                        <a href="/team" aria-current="page"
                                          >Team</a
                                        >
                                      </li>
                                      <li
                                        class="menu-item menu-item-home current-menu-item"
                                      >
                                        <a href="/contact" aria-current="page"
                                          >Contact</a
                                        >
                                      </li>

                                      <li
                                        class="menu-item menu-item-has-children"
                                      >
                                        <a href="#">Other</a>
                                        <ul class="sub-menu">
                                          <li class="menu-item">
                                            <a href="/blog">Blog</a>
                                          </li>

                                          <li class="menu-item">
                                            <a href="/testimonials"
                                              >Testimonials</a
                                            >
                                          </li>
                                          <li class="menu-item">
                                            <a href="/faqs">FAQs</a>
                                          </li>
                                        </ul>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-4335597 elementor_responsive_hide elementor-column elementor-col-20 elementor-top-column"
                        data-id="4335597"
                        data-element_type="column"
                      ></div>
                      <div
                        class="elementor-element elementor-element-94d4615 elementor_desktop_hide elementor-column elementor-col-20 elementor-top-column"
                        data-id="94d4615"
                        data-element_type="column"
                      >
                        <div
                          class="elementor-column-wrap elementor-element-populated"
                        >
                          <div class="elementor-widget-wrap">
                            <div
                              class="elementor-element elementor-element-ed53f40 elementor-align-right elementor-hidden-desktop elementor_mobile_nav elementor-widget elementor-widget-button"
                              data-id="ed53f40"
                              data-element_type="widget"
                              data-widget_type="button.default"
                            >
                              <div class="elementor-widget-container">
                                <div class="elementor-button-wrapper">
                                  <a
                                    href="#"
                                    class="elementor-button-link elementor-button elementor-size-xl"
                                    role="button"
                                  >
                                    <span
                                      class="elementor-button-content-wrapper"
                                    >
                                      <span
                                        class="elementor-button-icon elementor-align-icon-left"
                                      >
                                        <i
                                          class="fa fa-bars"
                                          aria-hidden="true"
                                        ></i>
                                      </span>
                                      <span
                                        class="elementor-button-text"
                                      ></span>
                                    </span>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-b1270b6 elementor_responsive_hide elementor-column elementor-col-20 elementor-top-column"
                        data-id="b1270b6"
                        data-element_type="column"
                      >
                        <div
                          class="elementor-column-wrap elementor-element-populated"
                        >
                          <div class="elementor-widget-wrap">
                            <div
                              class="elementor-element elementor-element-8e3f5ef elementor-align-right elementor-hidden-tablet elementor-hidden-phone elementor-widget elementor-widget-button"
                              data-id="8e3f5ef"
                              data-element_type="widget"
                              data-widget_type="button.default"
                            >
                              <div class="elementor-widget-container">
                                <div class="elementor-button-wrapper">
                                  <a
                                    href="/contact"
                                    class="elementor-button-link elementor-button elementor-size-sm elementor-animation-grow"
                                    role="button"
                                  >
                                    <span
                                      class="elementor-button-content-wrapper"
                                    >
                                      <span class="elementor-button-text"
                                        >Book Now</span
                                      >
                                    </span>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>

        <div id="page_caption" class="   ">
          <div class="page_title_wrapper">
            <div class="standard_wrapper">
              <div class="page_title_inner">
                <div class="page_title_content">
                  <h1>Contact 2</h1>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Begin content -->
        <div id="page_content_wrapper" class="">
          <div class="inner">
            <!-- Begin main content -->
            <div class="inner_wrapper">
              <div class="sidebar_content full_width">
                <div
                  data-elementor-type="wp-post"
                  data-elementor-id="1521"
                  class="elementor elementor-1521 elementor-bc-flex-widget"
                  data-elementor-settings="[]"
                >
                  <div class="elementor-inner">
                    <div class="elementor-section-wrap">
                      <section
                        class="elementor-element elementor-element-17731fa elementor-section-stretched elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section"
                        data-id="17731fa"
                        data-element_type="section"
                        data-settings='{"stretch_section":"section-stretched","background_background":"classic"}'
                      >
                        <div class="elementor-background-overlay"></div>
                        <div
                          class="elementor-container elementor-column-gap-default"
                        >
                          <div class="elementor-row">
                            <div
                              class="elementor-element elementor-element-45bcb8b elementor-column elementor-col-33 elementor-top-column"
                              data-id="45bcb8b"
                              data-element_type="column"
                            >
                              <div
                                class="elementor-column-wrap elementor-element-populated"
                              >
                                <div class="elementor-widget-wrap">
                                  <div
                                    class="elementor-element elementor-element-cb4541e animated-fast elementor-invisible elementor-widget elementor-widget-heading"
                                    data-id="cb4541e"
                                    data-element_type="widget"
                                    data-settings='{"_animation":"fadeInUp"}'
                                    data-widget_type="heading.default"
                                  >
                                    <div class="elementor-widget-container">
                                      <h1
                                        class="elementor-heading-title elementor-size-default"
                                      >
                                        Contact Us
                                      </h1>
                                    </div>
                                  </div>
                                  <div
                                    class="elementor-element elementor-element-54de960 animated-fast elementor-invisible elementor-widget elementor-widget-heading"
                                    data-id="54de960"
                                    data-element_type="widget"
                                    data-settings='{"_animation":"fadeInUp","_animation_delay":200}'
                                    data-widget_type="heading.default"
                                  >
                                    <div class="elementor-widget-container">
                                      <span
                                        class="elementor-heading-title elementor-size-default"
                                      >
                                        Get in touch with the team at
                                        Profitability Partners and start
                                        maximizing your business's profits and
                                        operational leverage.
                                      </span>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div
                              class="elementor-element elementor-element-a18b5a2 elementor-column elementor-col-66 elementor-top-column"
                              data-id="a18b5a2"
                              data-element_type="column"
                            >
                              <div class="elementor-column-wrap">
                                <div class="elementor-widget-wrap"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                      <section
                        class="elementor-element elementor-element-e0b8f1c elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                        data-id="e0b8f1c"
                        data-element_type="section"
                      >
                        <div
                          class="elementor-container elementor-column-gap-default"
                        >
                          <div class="elementor-row">
                            <div
                              class="elementor-element elementor-element-01aab8a elementor-column elementor-col-50 elementor-top-column"
                              data-id="01aab8a"
                              data-element_type="column"
                            >
                              <div
                                class="elementor-column-wrap elementor-element-populated"
                              >
                                <div class="elementor-widget-wrap">
                                  <div
                                    class="elementor-element elementor-element-da7a6c4 animated-fast elementor-invisible elementor-widget elementor-widget-heading"
                                    data-id="da7a6c4"
                                    data-element_type="widget"
                                    data-settings='{"_animation":"fadeInUp"}'
                                    data-widget_type="heading.default"
                                  >
                                    <div class="elementor-widget-container">
                                      <h3
                                        class="elementor-heading-title elementor-size-default"
                                      >
                                        Contact us today to schedule a free
                                        consultation and learn more about our
                                        services.
                                      </h3>
                                    </div>
                                  </div>

                                  <div
                                    class="elementor-element elementor-element-0f334cb animated-fast elementor-invisible elementor-widget elementor-widget-divider"
                                    data-id="0f334cb"
                                    data-element_type="widget"
                                    data-settings='{"_animation":"fadeIn","_animation_delay":300}'
                                    data-widget_type="divider.default"
                                  >
                                    <div class="elementor-widget-container">
                                      <div class="elementor-divider">
                                        <span
                                          class="elementor-divider-separator"
                                        >
                                        </span>
                                      </div>
                                    </div>
                                  </div>

                                  <section
                                    class="elementor-element elementor-element-f51e747 nopadding elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-inner-section"
                                    data-id="f51e747"
                                    data-element_type="section"
                                  >
                                    <div
                                      class="elementor-container elementor-column-gap-default"
                                    >
                                      <div class="elementor-row">
                                        <div
                                          class="elementor-element elementor-element-6514246 animated-fast elementor-invisible elementor-column elementor-col-50 elementor-inner-column"
                                          data-id="6514246"
                                          data-element_type="column"
                                          data-settings='{"animation":"fadeInUp","animation_delay":500}'
                                        >
                                          <div
                                            class="elementor-column-wrap elementor-element-populated"
                                          >
                                            <div class="elementor-widget-wrap">
                                              <div
                                                class="elementor-element elementor-element-ebff615 elementor-widget elementor-widget-heading"
                                                data-id="ebff615"
                                                data-element_type="widget"
                                                data-widget_type="heading.default"
                                              >
                                                <div
                                                  class="elementor-widget-container"
                                                >
                                                  <h4
                                                    class="elementor-heading-title elementor-size-default"
                                                  >
                                                    Address
                                                  </h4>
                                                </div>
                                              </div>
                                              <div
                                                class="elementor-element elementor-element-8613702 elementor-widget elementor-widget-text-editor"
                                                data-id="8613702"
                                                data-element_type="widget"
                                                data-widget_type="text-editor.default"
                                              >
                                                <div
                                                  class="elementor-widget-container"
                                                >
                                                  <div
                                                    class="elementor-text-editor elementor-clearfix"
                                                  >
                                                    <p>
                                                      Our Address 401 E Jackson
                                                      St. Suite 3300, Tampa FL
                                                      33602
                                                    </p>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        <div
                                          class="elementor-element elementor-element-4dc583b animated-fast elementor-invisible elementor-column elementor-col-50 elementor-inner-column"
                                          data-id="4dc583b"
                                          data-element_type="column"
                                          data-settings='{"animation":"fadeInUp","animation_delay":600}'
                                        >
                                          <div
                                            class="elementor-column-wrap elementor-element-populated"
                                          >
                                            <div class="elementor-widget-wrap">
                                              <div
                                                class="elementor-element elementor-element-5edb4ab elementor-widget elementor-widget-heading"
                                                data-id="5edb4ab"
                                                data-element_type="widget"
                                                data-widget_type="heading.default"
                                              >
                                                <div
                                                  class="elementor-widget-container"
                                                >
                                                  <h4
                                                    class="elementor-heading-title elementor-size-default"
                                                  >
                                                    Customer Support
                                                  </h4>
                                                </div>
                                              </div>
                                              <div
                                                class="elementor-element elementor-element-8781850 elementor-widget elementor-widget-heading"
                                                data-id="8781850"
                                                data-element_type="widget"
                                                data-widget_type="heading.default"
                                              >
                                                <div
                                                  class="elementor-widget-container"
                                                >
                                                  <span
                                                    class="elementor-heading-title elementor-size-default"
                                                    >(813) 708-6275</span
                                                  >
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </section>
                                </div>
                              </div>
                            </div>
                            <div
                              class="elementor-element elementor-element-02f8005 elementor-column elementor-col-50 elementor-top-column"
                              data-id="02f8005"
                              data-element_type="column"
                              data-settings='{"background_background":"classic"}'
                            >
                              <div
                                class="elementor-column-wrap elementor-element-populated"
                              >
                                <div class="elementor-widget-wrap">
                                  <div
                                    class="elementor-element elementor-element-e4e379a animated-fast elementor-invisible elementor-widget elementor-widget-heading"
                                    data-id="e4e379a"
                                    data-element_type="widget"
                                    data-settings='{"_animation":"fadeInUp"}'
                                    data-widget_type="heading.default"
                                  >
                                    <div class="elementor-widget-container">
                                      <h3
                                        class="elementor-heading-title elementor-size-default"
                                      >
                                        Get us to contact you
                                      </h3>
                                    </div>
                                  </div>
                                  <div
                                    class="elementor-element elementor-element-6414887 animated-fast elementor-invisible elementor-widget elementor-widget-heading"
                                    data-id="6414887"
                                    data-element_type="widget"
                                    data-settings='{"_animation_delay":200,"_animation":"fadeInUp"}'
                                    data-widget_type="heading.default"
                                  >
                                    <div class="elementor-widget-container">
                                      <span
                                        class="elementor-heading-title elementor-size-default"
                                        >Please complete the details below and
                                        then click on Submit and we'll be in
                                        contact</span
                                      >
                                    </div>
                                  </div>
                                  <div
                                    class="elementor-element elementor-element-41403a9 animated-fast elementor-invisible elementor-widget elementor-widget-shortcode"
                                    data-id="41403a9"
                                    data-element_type="widget"
                                    data-settings='{"_animation":"fadeIn","_animation_delay":400}'
                                    data-widget_type="shortcode.default"
                                  >
                                    <div class="elementor-widget-container">
                                      <div class="elementor-shortcode">
                                        <div
                                          role="form"
                                          class="wpcf7"
                                          id="wpcf7-f1561-p1521-o1"
                                          lang="en-US"
                                          dir="ltr"
                                        >
                                          <div
                                            class="screen-reader-response"
                                            role="alert"
                                            aria-live="polite"
                                          ></div>

                                          <form method="post" action="">
                                            <input
                                              type="text"
                                              name="Name"
                                              id="Name"
                                              placeholder="name"
                                              class="input"
                                            />

                                            <input
                                              type="text"
                                              name="City"
                                              id="City"
                                              placeholder="city"
                                              class="input"
                                            />

                                            <input
                                              type="text"
                                              name="Email"
                                              id="Email"
                                              placeholder="email"
                                              class="input"
                                            />

                                            <textarea
                                              name="Message"
                                              rows="20"
                                              cols="20"
                                              id="Message"
                                              placeholder="message"
                                              class="input"
                                            ></textarea>

                                            <input
                                              type="submit"
                                              name="submit"
                                              value="Submit"
                                              class="submit-button"
                                            />
                                          </form>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End main content -->
          </div>
          <br class="clear" />
        </div>
      </div>
      <%- include('footer'); -%>

      <a id="toTop" href="javascript:;"><i class="fa fa-angle-up"></i></a>
    </div>

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="js/plugins/typed/js/typed.js"></script>
    <script
      type="text/javascript"
      src="js/plugins/typed/js/frontend.js"
    ></script>
    <script type="text/javascript" src="js/plugins/ui/core.min.js"></script>
    <script
      type="text/javascript"
      src="js/plugins/ui/datepicker.min.js"
    ></script>
    <script type="text/javascript">
      jQuery(document).ready(function (jQuery) {
        jQuery.datepicker.setDefaults({
          closeText: "Close",
          currentText: "Today",
          monthNames: [
            "January",
            "February",
            "March",
            "April",
            "May",
            "June",
            "July",
            "August",
            "September",
            "October",
            "November",
            "December",
          ],
          monthNamesShort: [
            "Jan",
            "Feb",
            "Mar",
            "Apr",
            "May",
            "Jun",
            "Jul",
            "Aug",
            "Sep",
            "Oct",
            "Nov",
            "Dec",
          ],
          nextText: "Next",
          prevText: "Previous",
          dayNames: [
            "Sunday",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
          ],
          dayNamesShort: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
          dayNamesMin: ["S", "M", "T", "W", "T", "F", "S"],
          dateFormat: "MM d, yy",
          firstDay: 1,
          isRTL: false,
        });
      });
    </script>

    <script
      type="text/javascript"
      src="js/plugins/imagesloaded.min.js"
    ></script>
    <script type="text/javascript" src="js/plugins/masonry.min.js"></script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/jquery.lazy.js"
    ></script>
    <script type="text/javascript">
      jQuery(function ($) {
        jQuery("img.lazy").each(function () {
          var currentImg = jQuery(this);

          jQuery(this).Lazy({
            onFinishedAll: function () {
              currentImg.parent("div.post_img_hover").removeClass("lazy");
              currentImg
                .parent(".tg_gallery_lightbox")
                .parent("div.gallery_grid_item")
                .removeClass("lazy");
              currentImg.parent("div.gallery_grid_item").removeClass("lazy");
            },
          });
        });
      });
    </script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/modulobox.js"
    ></script>
    <script type="text/javascript" src="js/plugins/ui/effect.min.js"></script>
    <script type="text/javascript" src="js/plugins/waypoints.min.js"></script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/tilt.jquery.js"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/jquery.stellar.min.js"
    ></script>
    <script type="text/javascript" src="js/plugins/custom_plugins.js"></script>
    <script type="text/javascript" src="js/plugins/custom.js"></script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/jquery.sticky-kit.min.js"
    ></script>
    <script type="text/javascript">
      jQuery(function ($) {
        jQuery("#page_content_wrapper .sidebar_wrapper").stick_in_parent({
          offset_top: 100,
          recalc_every: 1,
        });

        if (jQuery(window).width() < 768 || is_touch_device()) {
          jQuery("#page_content_wrapper .sidebar_wrapper").trigger(
            "sticky_kit:detach"
          );
        }
      });
    </script>
    <script
      type="text/javascript"
      src="js/plugins/jquery.tooltipster.min.js"
    ></script>
    <script type="text/javascript">
      jQuery(function ($) {
        jQuery(".demotip").tooltipster({
          position: "left",
        });
      });
    </script>
    <script
      type="text/javascript"
      src="js/plugins/loftloader/assets/js/loftloader.min.js"
    ></script>
    <script type="text/javascript">
      /* <![CDATA[ */
      var tgAjax = { ajaxurl: "#", ajax_nonce: "5a2b2b9ff1" };
      /* ]]> */
    </script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/kingo-elementor.js"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/elementor/assets/lib/jquery-numerator/jquery-numerator.min.js"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/flickity.pkgd8b068b06.js?ver=5.4.7"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/velocity.js"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/velocity.ui.js"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/anime.min8b068b06.js?ver=5.4.7"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/mls8b068b06.js?ver=5.4.7"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/elementor/assets/lib/swiper/swiper.min.js"
    ></script>
    <script type="text/javascript" src="js/plugins/jquery.cookie.js"></script>
    <script
      type="text/javascript"
      src="js/plugins/elementor/assets/js/frontend-modules.min.js"
    ></script>
    <script type="text/javascript" src="js/plugins/ui/position.min.js"></script>
    <script
      type="text/javascript"
      src="js/plugins/elementor/assets/lib/dialog/dialog.min.js"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/elementor/assets/lib/waypoints/waypoints.min.js"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/elementor/assets/lib/share-link/share-link.min.js"
    ></script>
    <script type="text/javascript">
      var elementorFrontendConfig = {
        environmentMode: { edit: false, wpPreview: false },
        i18n: {
          shareOnFacebook: "Share on Facebook",
          shareOnTwitter: "Share on Twitter",
          pinIt: "Pin it",
          downloadImage: "Download image",
        },
        is_rtl: false,
        breakpoints: { xs: 0, sm: 480, md: 768, lg: 1025, xl: 1440, xxl: 1600 },
        version: "2.9.14",
        urls: {
          assets:
            "https:\/\/themes.themegoods.com\/bookingo\/demo\/wp-content\/plugins\/elementor\/assets\/",
        },
        settings: {
          page: [],
          general: {
            elementor_global_image_lightbox: "yes",
            elementor_lightbox_enable_counter: "yes",
            elementor_lightbox_enable_fullscreen: "yes",
            elementor_lightbox_enable_zoom: "yes",
            elementor_lightbox_enable_share: "yes",
            elementor_lightbox_title_src: "title",
            elementor_lightbox_description_src: "description",
          },
          editorPreferences: [],
        },
        post: {
          id: 1706,
          title:
            "Kingo%20%7C%20Accountant%20Demo%20%E2%80%93%20Just%20another%20WordPress%20site",
          excerpt: "",
          featuredImage: false,
        },
      };
    </script>
    <script
      type="text/javascript"
      src="js/plugins/elementor/assets/js/frontend.min.js"
    ></script>
  </body>
</html>
