<!DOCTYPE html>
<html lang="en-US" data-menu="leftalign">
  <head>
    <title><%= title %></title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />
    <meta name="format-detection" content="telephone=no" />

    <link
      rel="stylesheet"
      href="js/plugins/booked/assets/css/icons.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/booked/assets/js/tooltipster/css/tooltipster.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/booked/assets/js/tooltipster/css/themes/tooltipster-light.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/booked/assets/css/animations.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/booked/assets/css/styles.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/booked/assets/css/responsive.css"
      type="text/css"
      media="all"
    />
    <link rel="stylesheet" href="css/reset.css" type="text/css" media="all" />
    <link
      rel="stylesheet"
      href="css/wordpress.css"
      type="text/css"
      media="all"
    />
    <link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
    <link
      rel="stylesheet"
      href="css/modulobox.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="css/leftalignmenu.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="css/font-awesome.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="css/themify-icons.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="css/tooltipster.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/loftloader/assets/css/loftloader.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/elementor/assets/lib/eicons/css/elementor-icons.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/elementor/assets/lib/animations/animations.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/elementor/assets/css/frontend.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/kingo-elementor/assets/css/swiper.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/kingo-elementor/assets/css/justifiedGallery.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/kingo-elementor/assets/css/flickity.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/kingo-elementor/assets/css/kingo-elementor.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/kingo-elementor/assets/css/kingo-elementor-responsive.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="js/plugins/elementor/assets/lib/font-awesome/css/font-awesome.min.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="css/custom-css.css"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="css/responsive.css"
      type="text/css"
      media="all"
    />

    <link rel="icon" href="upload/TG-Thumb.png" sizes="32x32" />
    <link rel="icon" href="upload/TG-Thumb.png" sizes="192x192" />
    <link rel="apple-touch-icon" href="upload/TG-Thumb.png" />
    <meta name="msapplication-TileImage" content="upload/TG-Thumb.png" />
  </head>

  <body
    data-rsssl="1"
    class="home page-template-default page page-id-1706 woocommerce-no-js tg_menu_transparent tg_lightbox_black tg_sidemenu_desktop leftalign tg_footer_reveal loftloader-lite-enabled elementor-default elementor-kit-3641 elementor-page elementor-page-1706"
  >
    <div
      id="loftloader-wrapper"
      class="pl-imgloading"
      data-show-close-time="15000"
      data-max-load-time="0"
    >
      <div class="loader-inner">
        <div id="loader">
          <div class="imgloading-container">
            <span style="background-image: url(images/pp-logo.png)"></span>
          </div>
          <img
            data-no-lazy="1"
            class="skip-lazy"
            alt="loader image"
            src="images/pp-logo.png"
          />
        </div>
      </div>
      <div class="loader-section section-fade"></div>
      <div class="loader-close-button" style="display: none">
        <span class="screen-reader-text">Close</span>
      </div>
    </div>

    <div id="perspective">
      <!-- Begin mobile menu -->
      <a id="close_mobile_menu" href="javascript:;"></a>

      <div class="mobile_menu_wrapper">
        <div class="mobile_menu_content">
          <div class="menu-main-menu-container">
            <ul id="mobile_main_menu" class="mobile_main_nav">
              <li class="menu-item menu-item-home">
                <a href="/" aria-current="page">Home</a>
              </li>
              <li class="menu-item menu-item-home">
                <a href="/about" aria-current="page">About Us</a>
              </li>
              <li class="menu-item menu-item-home">
                <a href="/services" aria-current="page">Services</a>
              </li>
              <li class="menu-item menu-item-home">
                <a href="/team" aria-current="page">Team</a>
              </li>
              <li class="menu-item menu-item-home">
                <a href="/contact" aria-current="page">Contact</a>
              </li>

              <li class="menu-item menu-item-has-children">
                <a href="#">Other</a>
                <ul class="sub-menu">
                  <li class="menu-item">
                    <a href="/blog">Blog</a>
                  </li>

                  <li class="menu-item">
                    <a href="/testimonials">Testimonials</a>
                  </li>
                  <li class="menu-item">
                    <a href="/faqs">FAQs</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- End mobile menu -->
      <!-- Begin template wrapper -->
      <div id="wrapper" class="hasbg transparent">
        <div id="elementor_header" class="header_style_wrapper nonfixed">
          <div
            data-elementor-type="wp-post"
            data-elementor-id="64"
            class="elementor elementor-64"
            data-elementor-settings="[]"
          >
            <div class="elementor-inner">
              <div class="elementor-section-wrap">
                <section
                  class="elementor-element elementor-element-d3a9fbc elementor-section-stretched animated-fast elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-invisible elementor-section elementor-top-section"
                  data-id="d3a9fbc"
                  data-element_type="section"
                  data-settings='{"stretch_section":"section-stretched","background_background":"classic","animation":"fadeIn"}'
                >
                  <div class="elementor-container elementor-column-gap-no">
                    <div class="elementor-row">
                      <div
                        class="elementor-element elementor-element-8952182 elementor-column elementor-col-20 elementor-top-column"
                        data-id="8952182"
                        data-element_type="column"
                      >
                        <div
                          class="elementor-column-wrap elementor-element-populated"
                        >
                          <div class="elementor-widget-wrap">
                            <div
                              class="elementor-element elementor-element-b03b354 elementor-widget elementor-widget-image"
                              data-id="b03b354"
                              data-element_type="widget"
                              data-widget_type="image.default"
                            >
                              <div class="elementor-widget-container">
                                <div class="elementor-image">
                                  <a href="index.html">
                                    <img
                                      style="width: 200px !important"
                                      src="images/pp-logo-dark.png"
                                      class="attachment-full size-full"
                                      alt=""
                                    />
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-708113b elementor_responsive_hide elementor-column elementor-col-20 elementor-top-column"
                        data-id="708113b"
                        data-element_type="column"
                      >
                        <div
                          class="elementor-column-wrap elementor-element-populated"
                        >
                          <div class="elementor-widget-wrap">
                            <div
                              class="elementor-element elementor-element-8e78b47 elementor-hidden-tablet elementor-hidden-phone elementor-widget elementor-widget-bookingo-navigation-menu"
                              data-id="8e78b47"
                              data-element_type="widget"
                              data-widget_type="bookingo-navigation-menu.default"
                            >
                              <div class="elementor-widget-container">
                                <div class="tg_navigation_wrapper">
                                  <div class="menu-main-menu-container">
                                    <ul id="nav_menu6" class="nav">
                                      <li class="menu-item menu-item-home">
                                        <a href="/" aria-current="page">Home</a>
                                      </li>
                                      <li class="menu-item menu-item-home">
                                        <a href="/about" aria-current="page"
                                          >About Us</a
                                        >
                                      </li>
                                      <li class="menu-item menu-item-home">
                                        <a href="/services" aria-current="page"
                                          >Services</a
                                        >
                                      </li>
                                      <li class="menu-item menu-item-home">
                                        <a href="/team" aria-current="page"
                                          >Team</a
                                        >
                                      </li>
                                      <li class="menu-item menu-item-home">
                                        <a href="/contact" aria-current="page"
                                          >Contact</a
                                        >
                                      </li>

                                      <li
                                        class="menu-item menu-item-has-children"
                                      >
                                        <a href="#">Other</a>
                                        <ul class="sub-menu">
                                          <li class="menu-item">
                                            <a href="/blog">Blog</a>
                                          </li>

                                          <li class="menu-item">
                                            <a href="/testimonials"
                                              >Testimonials</a
                                            >
                                          </li>
                                          <li class="menu-item">
                                            <a href="/faqs">FAQs</a>
                                          </li>
                                        </ul>
                                      </li>
                                    </ul>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-4335597 elementor_responsive_hide elementor-column elementor-col-20 elementor-top-column"
                        data-id="4335597"
                        data-element_type="column"
                      ></div>
                      <div
                        class="elementor-element elementor-element-94d4615 elementor_desktop_hide elementor-column elementor-col-20 elementor-top-column"
                        data-id="94d4615"
                        data-element_type="column"
                      >
                        <div
                          class="elementor-column-wrap elementor-element-populated"
                        >
                          <div class="elementor-widget-wrap">
                            <div
                              class="elementor-element elementor-element-ed53f40 elementor-align-right elementor-hidden-desktop elementor_mobile_nav elementor-widget elementor-widget-button"
                              data-id="ed53f40"
                              data-element_type="widget"
                              data-widget_type="button.default"
                            >
                              <div class="elementor-widget-container">
                                <div class="elementor-button-wrapper">
                                  <a
                                    href="#"
                                    class="elementor-button-link elementor-button elementor-size-xl"
                                    role="button"
                                  >
                                    <span
                                      class="elementor-button-content-wrapper"
                                    >
                                      <span
                                        class="elementor-button-icon elementor-align-icon-left"
                                      >
                                        <i
                                          class="fa fa-bars"
                                          aria-hidden="true"
                                        ></i>
                                      </span>
                                      <span
                                        class="elementor-button-text"
                                      ></span>
                                    </span>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div
                        class="elementor-element elementor-element-b1270b6 elementor_responsive_hide elementor-column elementor-col-20 elementor-top-column"
                        data-id="b1270b6"
                        data-element_type="column"
                      >
                        <div
                          class="elementor-column-wrap elementor-element-populated"
                        >
                          <div class="elementor-widget-wrap">
                            <div
                              class="elementor-element elementor-element-8e3f5ef elementor-align-right elementor-hidden-tablet elementor-hidden-phone elementor-widget elementor-widget-button"
                              data-id="8e3f5ef"
                              data-element_type="widget"
                              data-widget_type="button.default"
                            >
                              <div class="elementor-widget-container">
                                <div class="elementor-button-wrapper">
                                  <a
                                    href="/contact"
                                    class="elementor-button-link elementor-button elementor-size-sm elementor-animation-grow"
                                    role="button"
                                  >
                                    <span
                                      class="elementor-button-content-wrapper"
                                    >
                                      <span class="elementor-button-text"
                                        >Book Now</span
                                      >
                                    </span>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>

        <div id="page_caption" class="   ">
          <div class="page_title_wrapper">
            <div class="standard_wrapper">
              <div class="page_title_inner">
                <div class="page_title_content">
                  <h1>Service 1</h1>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Begin content -->
        <div id="page_content_wrapper" class="">
          <div class="inner">
            <!-- Begin main content -->
            <div class="inner_wrapper">
              <div class="sidebar_content full_width">
                <div
                  data-elementor-type="wp-post"
                  data-elementor-id="1169"
                  class="elementor elementor-1169 elementor-bc-flex-widget"
                  data-elementor-settings="[]"
                >
                  <div class="elementor-inner">
                    <div class="elementor-section-wrap">
                      <section
                        class="elementor-element elementor-element-292a38d elementor-section-stretched elementor-section-height-min-height elementor-section-boxed elementor-section-height-default elementor-section-items-middle elementor-section elementor-top-section"
                        data-id="292a38d"
                        data-element_type="section"
                        data-settings='{"stretch_section":"section-stretched","background_background":"classic"}'
                      >
                        <div class="elementor-background-overlay"></div>
                        <div
                          class="elementor-container elementor-column-gap-default"
                        >
                          <div class="elementor-row">
                            <div
                              class="elementor-element elementor-element-54614da elementor-column elementor-col-33 elementor-top-column"
                              data-id="54614da"
                              data-element_type="column"
                            >
                              <div
                                class="elementor-column-wrap elementor-element-populated"
                              >
                                <div class="elementor-widget-wrap">
                                  <div
                                    class="elementor-element elementor-element-8f1917e animated-fast elementor-invisible elementor-widget elementor-widget-heading"
                                    data-id="8f1917e"
                                    data-element_type="widget"
                                    data-settings='{"_animation":"fadeInUp"}'
                                    data-widget_type="heading.default"
                                  >
                                    <div class="elementor-widget-container">
                                      <h1
                                        class="elementor-heading-title elementor-size-default"
                                      >
                                        Have questions?
                                      </h1>
                                    </div>
                                  </div>
                                  <div
                                    class="elementor-element elementor-element-c838e02 animated-fast elementor-invisible elementor-widget elementor-widget-heading"
                                    data-id="c838e02"
                                    data-element_type="widget"
                                    data-settings='{"_animation":"fadeInUp","_animation_delay":200}'
                                    data-widget_type="heading.default"
                                  >
                                    <div class="elementor-widget-container">
                                      <h2
                                        class="elementor-heading-title elementor-size-default"
                                      >
                                        Learn more below
                                      </h2>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div
                              class="elementor-element elementor-element-cc88670 elementor-column elementor-col-66 elementor-top-column"
                              data-id="cc88670"
                              data-element_type="column"
                            >
                              <div class="elementor-column-wrap">
                                <div class="elementor-widget-wrap"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>

                      <section
                        class="elementor-element elementor-element-6ea142c elementor-section-boxed elementor-section-height-default elementor-section-height-default elementor-section elementor-top-section"
                        data-id="6ea142c"
                        data-element_type="section"
                      >
                        <div
                          class="elementor-container elementor-column-gap-default"
                        >
                          <div class="elementor-row">
                            <div
                              class="elementor-element elementor-element-3e03c18 elementor-column elementor-col-50 elementor-top-column"
                              data-id="3e03c18"
                              data-element_type="column"
                            >
                              <div class="elementor-column-wrap">
                                <div class="elementor-widget-wrap"></div>
                              </div>
                            </div>
                            <div
                              class="elementor-element elementor-element-4d80da0 elementor-column elementor-col-25 elementor-top-column"
                              data-id="4d80da0"
                              data-element_type="column"
                            >
                              <div
                                class="elementor-column-wrap elementor-element-populated"
                              >
                                <div class="elementor-widget-wrap">
                                  <div
                                    class="elementor-element elementor-element-fb60910 elementor-widget elementor-widget-heading"
                                    data-id="fb60910"
                                    data-element_type="widget"
                                    data-widget_type="heading.default"
                                  >
                                    <div class="elementor-widget-container">
                                      <span
                                        class="elementor-heading-title elementor-size-default"
                                      >
                                        Get answers to your questions about our
                                        fractional CFO services. Our FAQs page
                                        covers everything from what we offer to
                                        how we work with clients. Get a better
                                        understanding of how we can help your
                                        business here.
                                      </span>
                                    </div>
                                  </div>
                                  <div
                                    class="elementor-element elementor-element-eae4a20 elementor-widget elementor-widget-toggle"
                                    data-id="eae4a20"
                                    data-element_type="widget"
                                    data-widget_type="toggle.default"
                                  >
                                    <div class="elementor-widget-container">
                                      <div
                                        class="elementor-toggle"
                                        role="tablist"
                                      >
                                        <div class="elementor-toggle-item">
                                          <div
                                            id="elementor-tab-title-2461"
                                            class="elementor-tab-title"
                                            data-tab="1"
                                            role="tab"
                                            aria-controls="elementor-tab-content-2461"
                                          >
                                            <span
                                              class="elementor-toggle-icon elementor-toggle-icon-right"
                                              aria-hidden="true"
                                            >
                                              <i
                                                class="elementor-toggle-icon-closed fa fa-plus-circle"
                                              ></i>
                                              <i
                                                class="elementor-toggle-icon-opened fa fa-minus-circle"
                                              ></i>
                                            </span>
                                            <a
                                              href="#"
                                              class="elementor-toggle-title"
                                              >What are fractional CFO
                                              services?</a
                                            >
                                          </div>
                                          <div
                                            id="elementor-tab-content-2461"
                                            class="elementor-tab-content elementor-clearfix"
                                            data-tab="1"
                                            role="tabpanel"
                                            aria-labelledby="elementor-tab-title-2461"
                                          >
                                            <p>
                                              Fractional CFO services are a
                                              cost-effective solution for small
                                              to medium-sized businesses and
                                              startups to receive the benefits
                                              of having a Chief Financial
                                              Officer (CFO) without the cost and
                                              commitment of a full-time
                                              employee.
                                            </p>
                                          </div>
                                        </div>
                                        <div class="elementor-toggle-item">
                                          <div
                                            id="elementor-tab-title-2462"
                                            class="elementor-tab-title"
                                            data-tab="2"
                                            role="tab"
                                            aria-controls="elementor-tab-content-2462"
                                          >
                                            <span
                                              class="elementor-toggle-icon elementor-toggle-icon-right"
                                              aria-hidden="true"
                                            >
                                              <i
                                                class="elementor-toggle-icon-closed fa fa-plus-circle"
                                              ></i>
                                              <i
                                                class="elementor-toggle-icon-opened fa fa-minus-circle"
                                              ></i>
                                            </span>
                                            <a
                                              href="#"
                                              class="elementor-toggle-title"
                                              >What makes Profitability Partners
                                              different from other fractional
                                              CFO services?</a
                                            >
                                          </div>
                                          <div
                                            id="elementor-tab-content-2462"
                                            class="elementor-tab-content elementor-clearfix"
                                            data-tab="2"
                                            role="tabpanel"
                                            aria-labelledby="elementor-tab-title-2462"
                                          >
                                            <p>
                                              Profitability Partners has a team
                                              of experienced financial experts
                                              who offer customized solutions to
                                              help businesses achieve their
                                              financial goals and maximize
                                              profits. We believe in the power
                                              of fractional CFO services to help
                                              businesses succeed.
                                            </p>
                                          </div>
                                        </div>
                                        <div class="elementor-toggle-item">
                                          <div
                                            id="elementor-tab-title-2463"
                                            class="elementor-tab-title"
                                            data-tab="3"
                                            role="tab"
                                            aria-controls="elementor-tab-content-2463"
                                          >
                                            <span
                                              class="elementor-toggle-icon elementor-toggle-icon-right"
                                              aria-hidden="true"
                                            >
                                              <i
                                                class="elementor-toggle-icon-closed fa fa-plus-circle"
                                              ></i>
                                              <i
                                                class="elementor-toggle-icon-opened fa fa-minus-circle"
                                              ></i>
                                            </span>
                                            <a
                                              href="#"
                                              class="elementor-toggle-title"
                                              >How can fractional CFO services
                                              help my business?</a
                                            >
                                          </div>
                                          <div
                                            id="elementor-tab-content-2463"
                                            class="elementor-tab-content elementor-clearfix"
                                            data-tab="3"
                                            role="tabpanel"
                                            aria-labelledby="elementor-tab-title-2463"
                                          >
                                            <p>
                                              Fractional CFO services can
                                              positively impact a business's
                                              bottom line by improving financial
                                              planning and analysis, reducing
                                              financial risk, and maximizing
                                              profits.
                                            </p>
                                          </div>
                                        </div>
                                        <div class="elementor-toggle-item">
                                          <div
                                            id="elementor-tab-title-2464"
                                            class="elementor-tab-title"
                                            data-tab="4"
                                            role="tab"
                                            aria-controls="elementor-tab-content-2464"
                                          >
                                            <span
                                              class="elementor-toggle-icon elementor-toggle-icon-right"
                                              aria-hidden="true"
                                            >
                                              <i
                                                class="elementor-toggle-icon-closed fa fa-plus-circle"
                                              ></i>
                                              <i
                                                class="elementor-toggle-icon-opened fa fa-minus-circle"
                                              ></i>
                                            </span>
                                            <a
                                              href="#"
                                              class="elementor-toggle-title"
                                              >What services does Profitability
                                              Partners offer?</a
                                            >
                                          </div>
                                          <div
                                            id="elementor-tab-content-2464"
                                            class="elementor-tab-content elementor-clearfix"
                                            data-tab="4"
                                            role="tabpanel"
                                            aria-labelledby="elementor-tab-title-2464"
                                          >
                                            <p>
                                              Profitability Partners offers
                                              Reporting & Information Systems,
                                              Financial Planning & Analysis, and
                                              Capital Markets.
                                            </p>
                                          </div>
                                        </div>
                                        <div class="elementor-toggle-item">
                                          <div
                                            id="elementor-tab-title-2464"
                                            class="elementor-tab-title"
                                            data-tab="5"
                                            role="tab"
                                            aria-controls="elementor-tab-content-2464"
                                          >
                                            <span
                                              class="elementor-toggle-icon elementor-toggle-icon-right"
                                              aria-hidden="true"
                                            >
                                              <i
                                                class="elementor-toggle-icon-closed fa fa-plus-circle"
                                              ></i>
                                              <i
                                                class="elementor-toggle-icon-opened fa fa-minus-circle"
                                              ></i>
                                            </span>
                                            <a
                                              href="#"
                                              class="elementor-toggle-title"
                                              >How much does it cost to use
                                              Profitability Partners'
                                              services?</a
                                            >
                                          </div>
                                          <div
                                            id="elementor-tab-content-2464"
                                            class="elementor-tab-content elementor-clearfix"
                                            data-tab="5"
                                            role="tabpanel"
                                            aria-labelledby="elementor-tab-title-2464"
                                          >
                                            <p>
                                              The cost of our services varies
                                              based on the specific needs of
                                              each business. Contact us for a
                                              personalized quote.
                                            </p>
                                          </div>
                                        </div>
                                        <div class="elementor-toggle-item">
                                          <div
                                            id="elementor-tab-title-2464"
                                            class="elementor-tab-title"
                                            data-tab="6"
                                            role="tab"
                                            aria-controls="elementor-tab-content-2464"
                                          >
                                            <span
                                              class="elementor-toggle-icon elementor-toggle-icon-right"
                                              aria-hidden="true"
                                            >
                                              <i
                                                class="elementor-toggle-icon-closed fa fa-plus-circle"
                                              ></i>
                                              <i
                                                class="elementor-toggle-icon-opened fa fa-minus-circle"
                                              ></i>
                                            </span>
                                            <a
                                              href="#"
                                              class="elementor-toggle-title"
                                              >Can Profitability Partners help
                                              with M&A transactions?</a
                                            >
                                          </div>
                                          <div
                                            id="elementor-tab-content-2464"
                                            class="elementor-tab-content elementor-clearfix"
                                            data-tab="6"
                                            role="tabpanel"
                                            aria-labelledby="elementor-tab-title-2464"
                                          >
                                            <p>
                                              Yes, our team of financiers has
                                              over 20 years of collective
                                              experience in the M&A industry and
                                              has assisted in executing over a
                                              half billion dollars in financial
                                              transactions.
                                            </p>
                                          </div>
                                        </div>
                                        <div class="elementor-toggle-item">
                                          <div
                                            id="elementor-tab-title-2464"
                                            class="elementor-tab-title"
                                            data-tab="7"
                                            role="tab"
                                            aria-controls="elementor-tab-content-2464"
                                          >
                                            <span
                                              class="elementor-toggle-icon elementor-toggle-icon-right"
                                              aria-hidden="true"
                                            >
                                              <i
                                                class="elementor-toggle-icon-closed fa fa-plus-circle"
                                              ></i>
                                              <i
                                                class="elementor-toggle-icon-opened fa fa-minus-circle"
                                              ></i>
                                            </span>
                                            <a
                                              href="#"
                                              class="elementor-toggle-title"
                                              >How do I get started with
                                              Profitability Partners?</a
                                            >
                                          </div>
                                          <div
                                            id="elementor-tab-content-2464"
                                            class="elementor-tab-content elementor-clearfix"
                                            data-tab="7"
                                            role="tabpanel"
                                            aria-labelledby="elementor-tab-title-2464"
                                          >
                                            <p>
                                              Contact us to schedule a free
                                              2-week non-binding consultation
                                              and find out how we can help your
                                              business succeed.
                                            </p>
                                          </div>
                                        </div>
                                        <div class="elementor-toggle-item">
                                          <div
                                            id="elementor-tab-title-2464"
                                            class="elementor-tab-title"
                                            data-tab="8"
                                            role="tab"
                                            aria-controls="elementor-tab-content-2464"
                                          >
                                            <span
                                              class="elementor-toggle-icon elementor-toggle-icon-right"
                                              aria-hidden="true"
                                            >
                                              <i
                                                class="elementor-toggle-icon-closed fa fa-plus-circle"
                                              ></i>
                                              <i
                                                class="elementor-toggle-icon-opened fa fa-minus-circle"
                                              ></i>
                                            </span>
                                            <a
                                              href="#"
                                              class="elementor-toggle-title"
                                              >What industries does
                                              Profitability Partners specialize
                                              in serving?</a
                                            >
                                          </div>
                                          <div
                                            id="elementor-tab-content-2464"
                                            class="elementor-tab-content elementor-clearfix"
                                            data-tab="8"
                                            role="tabpanel"
                                            aria-labelledby="elementor-tab-title-2464"
                                          >
                                            <p>
                                              We have extensive experience
                                              working with a variety of
                                              industries, including technology,
                                              manufacturing, retail, healthcare,
                                              and more. Our team is
                                              well-equipped to handle the unique
                                              financial needs of businesses
                                              across various sectors.
                                            </p>
                                          </div>
                                        </div>
                                        <div class="elementor-toggle-item">
                                          <div
                                            id="elementor-tab-title-2464"
                                            class="elementor-tab-title"
                                            data-tab="9"
                                            role="tab"
                                            aria-controls="elementor-tab-content-2464"
                                          >
                                            <span
                                              class="elementor-toggle-icon elementor-toggle-icon-right"
                                              aria-hidden="true"
                                            >
                                              <i
                                                class="elementor-toggle-icon-closed fa fa-plus-circle"
                                              ></i>
                                              <i
                                                class="elementor-toggle-icon-opened fa fa-minus-circle"
                                              ></i>
                                            </span>
                                            <a
                                              href="#"
                                              class="elementor-toggle-title"
                                              >What is the process for getting
                                              started with Profitability
                                              Partners?</a
                                            >
                                          </div>
                                          <div
                                            id="elementor-tab-content-2464"
                                            class="elementor-tab-content elementor-clearfix"
                                            data-tab="9"
                                            role="tabpanel"
                                            aria-labelledby="elementor-tab-title-2464"
                                          >
                                            <p>
                                              To get started, simply contact us
                                              and request a consultation. During
                                              this consultation, we will discuss
                                              your business's financial needs
                                              and determine how we can best
                                              support you. From there, we will
                                              work with you to create a
                                              customized solution that meets
                                              your specific needs.
                                            </p>
                                          </div>
                                        </div>
                                        <div class="elementor-toggle-item">
                                          <div
                                            id="elementor-tab-title-2464"
                                            class="elementor-tab-title"
                                            data-tab="10"
                                            role="tab"
                                            aria-controls="elementor-tab-content-2464"
                                          >
                                            <span
                                              class="elementor-toggle-icon elementor-toggle-icon-right"
                                              aria-hidden="true"
                                            >
                                              <i
                                                class="elementor-toggle-icon-closed fa fa-plus-circle"
                                              ></i>
                                              <i
                                                class="elementor-toggle-icon-opened fa fa-minus-circle"
                                              ></i>
                                            </span>
                                            <a
                                              href="#"
                                              class="elementor-toggle-title"
                                              >What is the cost of Profitability
                                              Partners' services?</a
                                            >
                                          </div>
                                          <div
                                            id="elementor-tab-content-2464"
                                            class="elementor-tab-content elementor-clearfix"
                                            data-tab="10"
                                            role="tabpanel"
                                            aria-labelledby="elementor-tab-title-2464"
                                          >
                                            <p>
                                              The cost of our services depends
                                              on the specific needs of your
                                              business. During our consultation,
                                              we will discuss your financial
                                              needs and provide you with a
                                              customized quote. We believe in
                                              being transparent about our
                                              pricing and strive to provide our
                                              clients with the most
                                              cost-effective solutions possible.
                                            </p>
                                          </div>
                                        </div>
                                        <div class="elementor-toggle-item">
                                          <div
                                            id="elementor-tab-title-2464"
                                            class="elementor-tab-title"
                                            data-tab="11"
                                            role="tab"
                                            aria-controls="elementor-tab-content-2464"
                                          >
                                            <span
                                              class="elementor-toggle-icon elementor-toggle-icon-right"
                                              aria-hidden="true"
                                            >
                                              <i
                                                class="elementor-toggle-icon-closed fa fa-plus-circle"
                                              ></i>
                                              <i
                                                class="elementor-toggle-icon-opened fa fa-minus-circle"
                                              ></i>
                                            </span>
                                            <a
                                              href="#"
                                              class="elementor-toggle-title"
                                              >How long does it take to see
                                              results from working with
                                              Profitability Partners?
                                            </a>
                                          </div>
                                          <div
                                            id="elementor-tab-content-2464"
                                            class="elementor-tab-content elementor-clearfix"
                                            data-tab="11"
                                            role="tabpanel"
                                            aria-labelledby="elementor-tab-title-2464"
                                          >
                                            <p>
                                              The timeline for seeing results
                                              from working with Profitability
                                              Partners will depend on the
                                              specific financial needs of your
                                              business. However, we have a
                                              proven track record of delivering
                                              results quickly and efficiently.
                                              Our team is committed to helping
                                              you achieve your financial goals
                                              as soon as possible.
                                            </p>
                                          </div>
                                        </div>
                                        <div class="elementor-toggle-item">
                                          <div
                                            id="elementor-tab-title-2464"
                                            class="elementor-tab-title"
                                            data-tab="12"
                                            role="tab"
                                            aria-controls="elementor-tab-content-2464"
                                          >
                                            <span
                                              class="elementor-toggle-icon elementor-toggle-icon-right"
                                              aria-hidden="true"
                                            >
                                              <i
                                                class="elementor-toggle-icon-closed fa fa-plus-circle"
                                              ></i>
                                              <i
                                                class="elementor-toggle-icon-opened fa fa-minus-circle"
                                              ></i>
                                            </span>
                                            <a
                                              href="#"
                                              class="elementor-toggle-title"
                                              >Does Profitability Partners
                                              provide ongoing support for its
                                              clients?
                                            </a>
                                          </div>
                                          <div
                                            id="elementor-tab-content-2464"
                                            class="elementor-tab-content elementor-clearfix"
                                            data-tab="12"
                                            role="tabpanel"
                                            aria-labelledby="elementor-tab-title-2464"
                                          >
                                            <p>
                                              Yes, we provide ongoing support
                                              for all of our clients. Our team
                                              is available to assist with any
                                              financial needs that may arise,
                                              from financial planning and
                                              analysis to ongoing financial
                                              management.
                                            </p>
                                          </div>
                                        </div>
                                        <div class="elementor-toggle-item">
                                          <div
                                            id="elementor-tab-title-2464"
                                            class="elementor-tab-title"
                                            data-tab="13"
                                            role="tab"
                                            aria-controls="elementor-tab-content-2464"
                                          >
                                            <span
                                              class="elementor-toggle-icon elementor-toggle-icon-right"
                                              aria-hidden="true"
                                            >
                                              <i
                                                class="elementor-toggle-icon-closed fa fa-plus-circle"
                                              ></i>
                                              <i
                                                class="elementor-toggle-icon-opened fa fa-minus-circle"
                                              ></i>
                                            </span>
                                            <a
                                              href="#"
                                              class="elementor-toggle-title"
                                              >What makes Profitability Partners
                                              different from other financial
                                              services companies?
                                            </a>
                                          </div>
                                          <div
                                            id="elementor-tab-content-2464"
                                            class="elementor-tab-content elementor-clearfix"
                                            data-tab="13"
                                            role="tabpanel"
                                            aria-labelledby="elementor-tab-title-2464"
                                          >
                                            <p>
                                              At Profitability Partners, we
                                              believe in providing our clients
                                              with customized solutions that
                                              meet their specific financial
                                              needs. Our team of experienced
                                              financial experts is dedicated to
                                              helping businesses achieve their
                                              financial goals and maximize
                                              profits. We also offer ongoing
                                              support to ensure that our clients
                                              receive the support they need to
                                              succeed.
                                            </p>
                                          </div>
                                        </div>
                                        <div class="elementor-toggle-item">
                                          <div
                                            id="elementor-tab-title-2464"
                                            class="elementor-tab-title"
                                            data-tab="14"
                                            role="tab"
                                            aria-controls="elementor-tab-content-2464"
                                          >
                                            <span
                                              class="elementor-toggle-icon elementor-toggle-icon-right"
                                              aria-hidden="true"
                                            >
                                              <i
                                                class="elementor-toggle-icon-closed fa fa-plus-circle"
                                              ></i>
                                              <i
                                                class="elementor-toggle-icon-opened fa fa-minus-circle"
                                              ></i>
                                            </span>
                                            <a
                                              href="#"
                                              class="elementor-toggle-title"
                                              >Can Profitability Partners help
                                              with M&A transactions?</a
                                            >
                                          </div>
                                          <div
                                            id="elementor-tab-content-2464"
                                            class="elementor-tab-content elementor-clearfix"
                                            data-tab="14"
                                            role="tabpanel"
                                            aria-labelledby="elementor-tab-title-2464"
                                          >
                                            <p>
                                              Yes, our team has extensive
                                              experience in the M&A industry and
                                              has assisted in executing over a
                                              half billion dollars in financial
                                              transactions. We have the
                                              expertise and resources to help
                                              guide you through every step of
                                              the M&A process.
                                            </p>
                                          </div>
                                        </div>
                                        <div class="elementor-toggle-item">
                                          <div
                                            id="elementor-tab-title-2464"
                                            class="elementor-tab-title"
                                            data-tab="15"
                                            role="tab"
                                            aria-controls="elementor-tab-content-2464"
                                          >
                                            <span
                                              class="elementor-toggle-icon elementor-toggle-icon-right"
                                              aria-hidden="true"
                                            >
                                              <i
                                                class="elementor-toggle-icon-closed fa fa-plus-circle"
                                              ></i>
                                              <i
                                                class="elementor-toggle-icon-opened fa fa-minus-circle"
                                              ></i>
                                            </span>
                                            <a
                                              href="#"
                                              class="elementor-toggle-title"
                                              >How do I get in touch with
                                              Profitability Partners?
                                            </a>
                                          </div>
                                          <div
                                            id="elementor-tab-content-2464"
                                            class="elementor-tab-content elementor-clearfix"
                                            data-tab="15"
                                            role="tabpanel"
                                            aria-labelledby="elementor-tab-title-2464"
                                          >
                                            <p>
                                              You can contact us through our
                                              website or by calling our office.
                                              Our team is always available to
                                              answer any questions and provide
                                              you with the support you need.
                                            </p>
                                          </div>
                                        </div>
                                        <div class="elementor-toggle-item">
                                          <div
                                            id="elementor-tab-title-2464"
                                            class="elementor-tab-title"
                                            data-tab="16"
                                            role="tab"
                                            aria-controls="elementor-tab-content-2464"
                                          >
                                            <span
                                              class="elementor-toggle-icon elementor-toggle-icon-right"
                                              aria-hidden="true"
                                            >
                                              <i
                                                class="elementor-toggle-icon-closed fa fa-plus-circle"
                                              ></i>
                                              <i
                                                class="elementor-toggle-icon-opened fa fa-minus-circle"
                                              ></i>
                                            </span>
                                            <a
                                              href="#"
                                              class="elementor-toggle-title"
                                              >What kind of businesses do you
                                              typically work with?
                                            </a>
                                          </div>
                                          <div
                                            id="elementor-tab-content-2464"
                                            class="elementor-tab-content elementor-clearfix"
                                            data-tab="16"
                                            role="tabpanel"
                                            aria-labelledby="elementor-tab-title-2464"
                                          >
                                            <p>
                                              We typically work with small to
                                              medium-sized businesses and
                                              startups in a variety of
                                              industries. Our goal is to help
                                              businesses achieve their financial
                                              goals and maximize profits, no
                                              matter their size or industry.
                                            </p>
                                          </div>
                                        </div>
                                        <div class="elementor-toggle-item">
                                          <div
                                            id="elementor-tab-title-2464"
                                            class="elementor-tab-title"
                                            data-tab="17"
                                            role="tab"
                                            aria-controls="elementor-tab-content-2464"
                                          >
                                            <span
                                              class="elementor-toggle-icon elementor-toggle-icon-right"
                                              aria-hidden="true"
                                            >
                                              <i
                                                class="elementor-toggle-icon-closed fa fa-plus-circle"
                                              ></i>
                                              <i
                                                class="elementor-toggle-icon-opened fa fa-minus-circle"
                                              ></i>
                                            </span>
                                            <a
                                              href="#"
                                              class="elementor-toggle-title"
                                              >How does your pricing work?
                                            </a>
                                          </div>
                                          <div
                                            id="elementor-tab-content-2464"
                                            class="elementor-tab-content elementor-clearfix"
                                            data-tab="17"
                                            role="tabpanel"
                                            aria-labelledby="elementor-tab-title-2464"
                                          >
                                            <p>
                                              Our pricing is based on the
                                              specific needs of each business.
                                              We offer customized solutions to
                                              meet each client's unique
                                              financial requirements, and our
                                              pricing is based on the scope of
                                              work required. We are transparent
                                              with our pricing and always
                                              provide a detailed estimate before
                                              starting any work.
                                            </p>
                                          </div>
                                        </div>
                                        <div class="elementor-toggle-item">
                                          <div
                                            id="elementor-tab-title-2464"
                                            class="elementor-tab-title"
                                            data-tab="18"
                                            role="tab"
                                            aria-controls="elementor-tab-content-2464"
                                          >
                                            <span
                                              class="elementor-toggle-icon elementor-toggle-icon-right"
                                              aria-hidden="true"
                                            >
                                              <i
                                                class="elementor-toggle-icon-closed fa fa-plus-circle"
                                              ></i>
                                              <i
                                                class="elementor-toggle-icon-opened fa fa-minus-circle"
                                              ></i>
                                            </span>
                                            <a
                                              href="#"
                                              class="elementor-toggle-title"
                                              >How do you ensure the
                                              confidentiality of our financial
                                              information?
                                            </a>
                                          </div>
                                          <div
                                            id="elementor-tab-content-2464"
                                            class="elementor-tab-content elementor-clearfix"
                                            data-tab="18"
                                            role="tabpanel"
                                            aria-labelledby="elementor-tab-title-2464"
                                          >
                                            <p>
                                              At Profitability Partners, we take
                                              the confidentiality of our
                                              client's financial information
                                              very seriously. All of our
                                              employees sign confidentiality
                                              agreements, and we use secure
                                              systems to store and transmit
                                              financial information.
                                            </p>
                                          </div>
                                        </div>
                                        <div class="elementor-toggle-item">
                                          <div
                                            id="elementor-tab-title-2464"
                                            class="elementor-tab-title"
                                            data-tab="19"
                                            role="tab"
                                            aria-controls="elementor-tab-content-2464"
                                          >
                                            <span
                                              class="elementor-toggle-icon elementor-toggle-icon-right"
                                              aria-hidden="true"
                                            >
                                              <i
                                                class="elementor-toggle-icon-closed fa fa-plus-circle"
                                              ></i>
                                              <i
                                                class="elementor-toggle-icon-opened fa fa-minus-circle"
                                              ></i>
                                            </span>
                                            <a
                                              href="#"
                                              class="elementor-toggle-title"
                                              >Can you provide references from
                                              previous clients?
                                            </a>
                                          </div>
                                          <div
                                            id="elementor-tab-content-2464"
                                            class="elementor-tab-content elementor-clearfix"
                                            data-tab="19"
                                            role="tabpanel"
                                            aria-labelledby="elementor-tab-title-2464"
                                          >
                                            <p>
                                              Yes, we are happy to provide
                                              references from previous clients
                                              upon request. Our goal is to
                                              always provide exceptional
                                              service, and we are proud of the
                                              relationships we have built with
                                              our clients.
                                            </p>
                                          </div>
                                        </div>
                                        <div class="elementor-toggle-item">
                                          <div
                                            id="elementor-tab-title-2464"
                                            class="elementor-tab-title"
                                            data-tab="20"
                                            role="tab"
                                            aria-controls="elementor-tab-content-2464"
                                          >
                                            <span
                                              class="elementor-toggle-icon elementor-toggle-icon-right"
                                              aria-hidden="true"
                                            >
                                              <i
                                                class="elementor-toggle-icon-closed fa fa-plus-circle"
                                              ></i>
                                              <i
                                                class="elementor-toggle-icon-opened fa fa-minus-circle"
                                              ></i>
                                            </span>
                                            <a
                                              href="#"
                                              class="elementor-toggle-title"
                                              >What happens if we decide to end
                                              our relationship with
                                              Profitability Partners?
                                            </a>
                                          </div>
                                          <div
                                            id="elementor-tab-content-2464"
                                            class="elementor-tab-content elementor-clearfix"
                                            data-tab="20"
                                            role="tabpanel"
                                            aria-labelledby="elementor-tab-title-2464"
                                          >
                                            <p>
                                              If you decide to end your
                                              relationship with us, we will work
                                              with you to ensure a smooth
                                              transition of your financial
                                              management processes. We
                                              understand that business needs can
                                              change, and we are committed to
                                              ensuring that your transition is
                                              as seamless as possible.
                                            </p>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <div
                              class="elementor-element elementor-element-118d8ac elementor-column elementor-col-25 elementor-top-column"
                              data-id="118d8ac"
                              data-element_type="column"
                            >
                              <div class="elementor-column-wrap">
                                <div class="elementor-widget-wrap"></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </section>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- End main content -->
          </div>
          <br class="clear" />
        </div>
      </div>
      <%- include('footer'); -%>

      <a id="toTop" href="javascript:;"><i class="fa fa-angle-up"></i></a>
    </div>

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery-migrate.min.js"></script>
    <script type="text/javascript" src="js/plugins/typed/js/typed.js"></script>
    <script
      type="text/javascript"
      src="js/plugins/typed/js/frontend.js"
    ></script>
    <script type="text/javascript" src="js/plugins/ui/core.min.js"></script>
    <script
      type="text/javascript"
      src="js/plugins/ui/datepicker.min.js"
    ></script>
    <script type="text/javascript">
      jQuery(document).ready(function (jQuery) {
        jQuery.datepicker.setDefaults({
          closeText: "Close",
          currentText: "Today",
          monthNames: [
            "January",
            "February",
            "March",
            "April",
            "May",
            "June",
            "July",
            "August",
            "September",
            "October",
            "November",
            "December",
          ],
          monthNamesShort: [
            "Jan",
            "Feb",
            "Mar",
            "Apr",
            "May",
            "Jun",
            "Jul",
            "Aug",
            "Sep",
            "Oct",
            "Nov",
            "Dec",
          ],
          nextText: "Next",
          prevText: "Previous",
          dayNames: [
            "Sunday",
            "Monday",
            "Tuesday",
            "Wednesday",
            "Thursday",
            "Friday",
            "Saturday",
          ],
          dayNamesShort: ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
          dayNamesMin: ["S", "M", "T", "W", "T", "F", "S"],
          dateFormat: "MM d, yy",
          firstDay: 1,
          isRTL: false,
        });
      });
    </script>

    <script
      type="text/javascript"
      src="js/plugins/imagesloaded.min.js"
    ></script>
    <script type="text/javascript" src="js/plugins/masonry.min.js"></script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/jquery.lazy.js"
    ></script>
    <script type="text/javascript">
      jQuery(function ($) {
        jQuery("img.lazy").each(function () {
          var currentImg = jQuery(this);

          jQuery(this).Lazy({
            onFinishedAll: function () {
              currentImg.parent("div.post_img_hover").removeClass("lazy");
              currentImg
                .parent(".tg_gallery_lightbox")
                .parent("div.gallery_grid_item")
                .removeClass("lazy");
              currentImg.parent("div.gallery_grid_item").removeClass("lazy");
            },
          });
        });
      });
    </script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/modulobox.js"
    ></script>
    <script type="text/javascript" src="js/plugins/ui/effect.min.js"></script>
    <script type="text/javascript" src="js/plugins/waypoints.min.js"></script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/tilt.jquery.js"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/jquery.stellar.min.js"
    ></script>
    <script type="text/javascript" src="js/plugins/custom_plugins.js"></script>
    <script type="text/javascript" src="js/plugins/custom.js"></script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/jquery.sticky-kit.min.js"
    ></script>
    <script type="text/javascript">
      jQuery(function ($) {
        jQuery("#page_content_wrapper .sidebar_wrapper").stick_in_parent({
          offset_top: 100,
          recalc_every: 1,
        });

        if (jQuery(window).width() < 768 || is_touch_device()) {
          jQuery("#page_content_wrapper .sidebar_wrapper").trigger(
            "sticky_kit:detach"
          );
        }
      });
    </script>
    <script
      type="text/javascript"
      src="js/plugins/jquery.tooltipster.min.js"
    ></script>
    <script type="text/javascript">
      jQuery(function ($) {
        jQuery(".demotip").tooltipster({
          position: "left",
        });
      });
    </script>
    <script
      type="text/javascript"
      src="js/plugins/loftloader/assets/js/loftloader.min.js"
    ></script>
    <script type="text/javascript">
      /* <![CDATA[ */
      var tgAjax = { ajaxurl: "#", ajax_nonce: "5a2b2b9ff1" };
      /* ]]> */
    </script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/kingo-elementor.js"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/elementor/assets/lib/jquery-numerator/jquery-numerator.min.js"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/flickity.pkgd8b068b06.js?ver=5.4.7"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/velocity.js"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/velocity.ui.js"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/anime.min8b068b06.js?ver=5.4.7"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/kingo-elementor/assets/js/mls8b068b06.js?ver=5.4.7"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/elementor/assets/lib/swiper/swiper.min.js"
    ></script>
    <script type="text/javascript" src="js/plugins/jquery.cookie.js"></script>
    <script
      type="text/javascript"
      src="js/plugins/elementor/assets/js/frontend-modules.min.js"
    ></script>
    <script type="text/javascript" src="js/plugins/ui/position.min.js"></script>
    <script
      type="text/javascript"
      src="js/plugins/elementor/assets/lib/dialog/dialog.min.js"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/elementor/assets/lib/waypoints/waypoints.min.js"
    ></script>
    <script
      type="text/javascript"
      src="js/plugins/elementor/assets/lib/share-link/share-link.min.js"
    ></script>
    <script type="text/javascript">
      var elementorFrontendConfig = {
        environmentMode: { edit: false, wpPreview: false },
        i18n: {
          shareOnFacebook: "Share on Facebook",
          shareOnTwitter: "Share on Twitter",
          pinIt: "Pin it",
          downloadImage: "Download image",
        },
        is_rtl: false,
        breakpoints: { xs: 0, sm: 480, md: 768, lg: 1025, xl: 1440, xxl: 1600 },
        version: "2.9.14",
        urls: {
          assets:
            "https:\/\/themes.themegoods.com\/bookingo\/demo\/wp-content\/plugins\/elementor\/assets\/",
        },
        settings: {
          page: [],
          general: {
            elementor_global_image_lightbox: "yes",
            elementor_lightbox_enable_counter: "yes",
            elementor_lightbox_enable_fullscreen: "yes",
            elementor_lightbox_enable_zoom: "yes",
            elementor_lightbox_enable_share: "yes",
            elementor_lightbox_title_src: "title",
            elementor_lightbox_description_src: "description",
          },
          editorPreferences: [],
        },
        post: {
          id: 1706,
          title:
            "Kingo%20%7C%20Accountant%20Demo%20%E2%80%93%20Just%20another%20WordPress%20site",
          excerpt: "",
          featuredImage: false,
        },
      };
    </script>
    <script
      type="text/javascript"
      src="js/plugins/elementor/assets/js/frontend.min.js"
    ></script>
  </body>
</html>
